<div class="btn-group drsl-detail-attachment-wrapper" ng-class="{'hide-buttons': hideButtons, 'hide-controls': hideControls, 'drsl-no-attachments': attachFileList.length === 0, 'drsl-hide-tooltip': hideTooltip, 'drsl-attachments-inline': displayType === 'inline'}" uib-dropdown auto-close="disabled" is-open="attachmentsOpen">
    <!-- Icon and Button -->
    <div uib-tooltip-html="((isAuthenticated())? attachmentMessageLoggedIn: attachmentMessageLoggedOut)"  tooltip-placement="top">
        <button type="button" class="btn btn-default drsl-attach-btn" ng-class="{'btn-success': attachFileList.length > 0, 'disabled':!isAuthenticated()}" ng-click="openAttachments($event)">
            <span class="fa fa-paperclip"></span>
            <span ng-show="attachFileList.length > 0" class="drsl-attachment-count">{{attachFileList.length}}</span>
        </button>
    </div>
    <!-- Menu Dropdown -->
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem">
            <div class="drsl-menuitem-field-type" ng-click="textFieldClick($event)">
                <form ng-submit="">
                    <div class="drsl-attachment-items-wrapper">
                        <div class="drsl-attachment-item" ng-class-odd="'drsl-attachment-item-odd'" ng-repeat="file in attachFileList">
                            <span>{{file.name}}</span>
                            <span class="pull-right">
                                <drsl-download-file file="file"></drsl-download-file>
                                <span ng-show="file.dataStream && isNotMS" class="drsl-attachment-control" translate="entity.action.view" ng-click="viewAttachment(file);">view</span>
                                <span class="drsl-attachment-control" translate="entity.action.delete" ng-click="removeAttachment($index);">remove</span>
                            </span>
                        </div>
                    </div>
                    <div class="drsl-pending-attachments-message" ng-show="pending" translate="global.messages.info.pending" translate-values="{attachments: '{{pendingAttachments.length}}'}">
                    </div>
                    <div class="drsl-main-attachment-btns">
                            <button class="btn detailButton drsl-main-done-btn" translate="entity.action.done" ng-click="doneWithAttachments()" ng-class="{'btn-inactive': !attachFileList.length, 'btn-success': attachFileList.length}">Done</button>
                            <div class="btn btn-success detailButton drsl-main-attach-btn" translate="entity.action.attach" ngf-select="attachFiles($files, $invalidFiles)" ngf-multiple="true">Attach</div>
                            <button class="btn btn-default detailButton drsl-main-later-btn" translate="entity.action.later" ng-click="cancelAttachments()">Later</button>
                    </div>
                </form>
            </div>
        </li>
    </ul>
</div>
