<div ng-repeat="attachment in attachments" style="padding-bottom: 20px; display: inline-block;">
	{{attachment.dataStreamContentType}}
	<a class="pull-left" ng-click="openFile(attachment.dataStreamContentType, attachment.dataStream)">
		<img data-ng-src="data:image/png;base64,{{attachment.dataStream}}" alt="" style="width: 100px;" ng-if="attachment.dataStreamContentType.split('/')[0] == 'image'">
		<img src="http://neowin.s3.amazonaws.com/forum/uploads/monthly_04_2013/post-360412-0-09676400-1365986245.png" style="width: 100px;" alt="" ng-if="attachment.dataStreamContentType.split('/')[0] == 'text'">
	</a>
</div>
<div class="drsl-file-upload-component" class="form-group">
	<img data-ng-src="data:image/png;base64,{{attachment.dataStream}}" alt="" style="width: 100px;" ng-if="attachment.dataStreamContentType.split('/')[0] == 'image'">
	<img src="http://neowin.s3.amazonaws.com/forum/uploads/monthly_04_2013/post-360412-0-09676400-1365986245.png" style="width: 100px;" alt="" ng-if="attachment.dataStreamContentType.split('/')[0] == 'text'">
	<i class="fa fa-cloud-upload fa-lg"></i>
	{{"global.form.fileupload.drop" | translate}}
	<span type="file" ngf-select ngf-change="setDataStream($file, vm.attachment)">{{"global.form.fileupload.browse" | translate}}</span>
</div>
