<div ng-repeat="attachment in attachments">
	<img data-ng-src="data:image/png;base64,{{attachment.dataStream}}" alt="" style="width: 200px;" ng-if="attachment.dataStream">

	{{attachment.dataStreamContentType}}
	<a class="pull-left" ng-click="$scope.openFile(attachment.dataStreamContentType, attachment.dataStreamContentType)" translate="entity.action.open">open</a><br>
</div>

<div class="drsl-file-upload-component" class="form-group">
	<a class="pull-left" ng-click="$scope.openFile(attachment.dataStreamContentType, attachment.dataStreamContentType)" translate="entity.action.open">open</a><br>
	<div ng-if="attachment.dataStreamContentType">
		{{attachment.dataStreamContentType}}
	</div>
	<img data-ng-src="data:image/png;base64,{{attachment.dataStream}}" alt="" style="width: 200px;" ng-if="attachment.dataStream">
	<i class="fa fa-cloud-upload fa-lg"></i>
	{{"global.form.fileupload.drop" | translate}}
	<span type="file" ngf-select ngf-change="setDataStream($file, vm.attachment)">{{"global.form.fileupload.browse" | translate}}</span>
</div>
