<div class="drsl-dialog drsl-share-case">
    <div class="modal-body">
        <div>
            <div class="drsl-dialog-header">
                <div><h2>Share My Case: <span>{{vm.case.technology.name}} {{vm.case.id}}</span></h2></div>
            </div>
            <table>
                <thead>
                    <th><h3 ng-if="vm.sharedUsers.length">Users</h3></th>
                    <th><h3 ng-if="vm.sharedUsers.length"  style="padding-left: 5px;">Permissions</h3></th>
                    <th><h3 ng-if="vm.sharedUsers.length"  style="padding-left: 5px;">Activated</h3></th>
                    <th><h3 ng-if="vm.sharedUsers.length"  style="padding-left: 5px;">Remove User</h3></th>
                </thead>
                <tbody>
                    <tr ng-repeat="share in vm.sharedUsers track by $index">
                        <td>
                            {{share.user.email}}
                        </td>
                        <td style="padding-left: 10px;">
                            Full Access
                        </td>
                        <td style="padding-left: 10px;">
                            {{share.user.activated}}
                        </td>
                        <td style="padding-left: 10px;">
                            <button class="btn btn-success" ng-click="vm.removeSharedUser(share.id, $index)" style="display: block; margin-top: 10px; margin-bottom: 10px;"><i class="fa fa-times-circle fa-lg"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form ng-submit="vm.addUser()">
                <hr>
                <input type="text" id="emailInput" name="emailInput"
                ng-model="vm.emailInput" ng-minlength=4 ng-maxlength=50 required placeholder="Email address" style="width: 400px; height: 33px;">
                <select class="form-control" ng-model="vm.permissions" id="permissionInput" style="width: 150px; display: inline-block;" required disabled>
                <option value="">Full Access</option>
                <option value="read">read</option>
                <option value="write">write</option>
            </select>
            <br>
            <br>
            <div style="text-align: right;">
                <button class="btn btn-default" ng-click="vm.cancel($event)">Cancel</button>
                <button type="submit" class="btn btn-success">Add User</button>
            </div>
        </div>
    </form>
</div>
</div>
