<div class="drsl-account-settings">
    <div class="row">
        <div class="col-md-12">
            <div class="drsl-settings-wrapper">
                <div class="drsl-sub-header">
                    <h2 ng-if="!vm.currentExpert">User settings for  {{vm.settingsAccount.login}}</h2>
                    <h2 ng-if="vm.currentExpert">Expert Settings</h2>
                    <h2 class="drsl-payment-header" ng-if="!vm.currentExpert && !vm.isAlreadyAuthorized">Payment Method</h2>
                </div>
                <div class="drsl-panels">
                    <div class="alert alert-success" ng-show="vm.success" translate="settings.messages.success">
                        <strong>Settings saved!</strong>
                    </div>

                    <div class="alert alert-danger" ng-show="vm.errorEmailExists" translate="settings.messages.error.emailexists">
                        <strong>E-mail is already in use!</strong> Please choose another one.
                    </div>

                    <div class="alert alert-danger" ng-show="vm.error" translate="settings.messages.error.fail">
                        <strong>An error has occurred!</strong> Settings could not be saved.
                    </div>
                    <div ng-class="{'drsl-expert-info-content': vm.currentExpert, 'drsl-user-info-content': !vm.currentExpert, 'drsl-is-already-activated': vm.isAlreadyAuthorized}">
                        <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation>
                            <div class="form-group" >
                            <div class="drsl-placeholder-label" type="text">
                              <input type="text" id="login" name="login" value="" ng-model="vm.settingsAccount.login" disabled ng-change="vm.updatingUser = true" ng-class="{'drsl-already-activated-input': vm.isAlreadyAuthorized}">
                              <span class="drsl-unit" translate="settings.form.login">(Login)</span>
                            </div>
                            </div>
                            <div class="form-group" >
                              <div class="drsl-placeholder-label" type="text">
                                <input type="text" id="firstName" name="firstName" value="" ng-model="vm.settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50" ng-change="vm.updatingUser = true" ng-class="{'drsl-already-activated-input': vm.isAlreadyAuthorized}">
                                <span class="drsl-unit" translate="settings.form.firstname">(First Name)</span>
                              </div>
                                <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                                    <p class="help-block"
                                    ng-show="form.firstName.$error.required" translate="settings.messages.validate.firstname.required">
                                    Your first name is required.
                                </p>
                                <p class="help-block"
                                ng-show="form.firstName.$error.minlength" translate="settings.messages.validate.firstname.minlength">
                                Your first name is required to be at least 1 character.
                            </p>
                            <p class="help-block"
                            ng-show="form.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                  <div class="drsl-placeholder-label" type="text">
                    <input type="text" id="lastName" name="lastName" value="" ng-model="vm.settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50" ng-change="vm.updatingUser = true" ng-class="{'drsl-already-activated-input': vm.isAlreadyAuthorized}">
                    <span class="drsl-unit" translate="settings.form.lastname">(Last Nam)e</span>
                  </div>
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                        ng-show="form.lastName.$error.required" translate="settings.messages.validate.lastname.required">
                        Your last name is required.
                    </p>
                    <p class="help-block"
                    ng-show="form.lastName.$error.minlength" translate="settings.messages.validate.lastname.minlength">
                    Your last name is required to be at least 1 character.
                </p>
                <p class="help-block"
                ng-show="form.lastName.$error.maxlength" translate="settings.messages.validate.lastname.maxlength">
                Your last name cannot be longer than 50 characters.
            </p>
        </div>
    </div>
    <div class="form-group">
      <div class="drsl-placeholder-label" type="text">
        <input type="text" id="email" name="email" ng-model="vm.settingsAccount.email" ng-minlength=1 ng-maxlength=50 required maxlength="50" ng-change="vm.updatingUser = true" ng-class="{'drsl-already-activated-input': vm.isAlreadyAuthorized}">
        <span class="drsl-unit" translate="settings.form.email">Email Address</span>
      </div>
        <div ng-show="form.email.$dirty && form.email.$invalid">
            <p class="help-block"
            ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
            Your e-mail is required.
        </p>
        <p class="help-block"
        ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
        Your e-mail is invalid.
    </p>
    <p class="help-block"
    ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
    Your e-mail is required to be at least 5 characters.
</p>
<p class="help-block"
ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
Your e-mail cannot be longer than 100 characters.
</p>
</div>
</div>
<div class="form-group" ng-if="!vm.currentExpert">
    <select id="langKey" name="langKey" class="form-control" ng-model="vm.settingsAccount.langKey" ng-controller="JhiLanguageController as languageVm" ng-options="code as (code | findLanguageFromKey) for code in languageVm.languages">
        <option value="">Language(s)</option>
    </select>
</div>
<div ng-if="vm.currentExpert">
  <div class="drsl-two-inputs">
      <div class="form-group">
        <div class="drsl-placeholder-label" type="text">
          <input type="tel" class="form-control" id="telephone" name="telephone"
          ng-model="vm.currentExpert.phone" ng-minlength=5 ng-maxlength=100 required maxlength="100" ng-change="vm.updatingExpert = true">
          <span class="drsl-unit" translate="settings.form.phone">Telephone Number</span>
        </div>
      </div>
      <div class="form-group">
        <div class="drsl-placeholder-label" type="text">
          <input type="tel" class="form-control" id="mobile" name="mobile"
          ng-model="vm.currentExpert.mobile" ng-minlength=5 ng-maxlength=100 required maxlength="100" ng-change="vm.updatingExpert = true">
          <span class="drsl-unit" translate="settings.form.mobile">Mobile Number</span>
        </div>
      </div>
  </div>
    <div class="drsl-two-inputs">
      <div class="form-group">
        <div class="drsl-placeholder-label" type="text">
          <input type="text" class="form-control" id="skype" name="skype"
          ng-model="vm.currentExpert.skype" ng-minlength=5 ng-maxlength=100 required maxlength="100" ng-change="vm.updatingExpert = true">
          <span class="drsl-unit" translate="settings.form.skype">Skype</span>
        </div>
      </div>
      <div class="form-group">
        <div class="drsl-placeholder-label" type="text">
          <input type="text" class="form-control" id="drslChatHandle" name="drslChatHandle"
          ng-model="vm.currentExpert.drslChatHandle" ng-minlength=5 ng-maxlength=100 required maxlength="100" ng-change="vm.updatingExpert = true">
          <span class="drsl-unit" translate="settings.form.drslChatHandle">Dorsal Chat Handl</span>
        </div>
      </div>
    </div>
    <div class="drsl-two-inputs">
        <div class="form-group">
          <div class="drsl-placeholder-label" type="text"  uib-tooltip="name of other contact method">
            <input type="text" class="form-control" id="preferred" name="preferred"
            ng-model="vm.otherTitle" ng-minlength=5 ng-maxlength=100 required maxlength="100" ng-change="vm.updatingExpert = true">
            <span class="drsl-unit" translate="settings.form.preferred">(Preffered Contact Method)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="drsl-placeholder-label" type="text" uib-tooltip="link to other contact method">
            <input type="text" class="form-control" id="othercommunication" name="othercommunication"
            ng-model="vm.otherLink" ng-minlength=5 ng-maxlength=100 required maxlength="100" ng-change="vm.updatingExpert = true">
            <span class="drsl-unit" translate="settings.form.othercommunication">(Other Comms)</span>
          </div>
        </div>
    </div>
    <div class="form-group">
      <div class="drsl-placeholder-label" type="text">
        <select id="langKey" name="langKey" class="form-control drsl-fullSelect" ng-model="vm.settingsAccount.langKey" ng-controller="JhiLanguageController as languageVm" ng-options="code as (code | findLanguageFromKey) for code in languageVm.languages" ng-change="vm.updatingExpert = true"></select>
        <span class="drsl-select drsl-unit" translate="settings.form.language">(Language)</span>
      </div>
    </div>
    <div class="drsl-two-inputs">
        <div class="form-group">
          <div class="drsl-placeholder-label" type="text">
            <input type="text" class="form-control" id="location" name="location"
            ng-model="vm.currentExpert.location" ng-minlength=5 ng-maxlength=100 required maxlength="100" ng-change="vm.updatingExpert = true">
            <span class="drsl-unit" translate="settings.form.location">(Location)</span>
          </div>
        </div>
        <div class="form-group">
          <div class="drsl-placeholder-label" type="text">
            <input type="text" class="form-control" id="timezone" name="timezone"
            ng-model="vm.currentExpert.timezone" ng-minlength=5 ng-maxlength=100 required maxlength="100" ng-change="vm.updatingExpert = true">
            <span class="drsl-unit" translate="settings.form.timezone">(Timezone)</span>
          </div>
        </div>
    </div>
    <div class="form-group">
      <div class="drsl-placeholder-label">
        <select class="form-control drsl-full-select" name="expertAvailability" ng-model="vm.currentExpert.expertAvailability" id="field_expertAvailability" ng-change="vm.updatingExpert = true">
            <option value="FULL_TIME">Full Time</option>
            <option value="MON_FRI">Monday Through Friday</option>
            <option value="EVENING">Evenings</option>
            <option value="WEEKEND">Weekends</option>
        </select>
        <span class="drsl-select drsl-unit" translate="settings.form.availability">(Availability)</span>
      </div>
    </div>
    <div class="drsl-extra-info">
        <div>
            <div>
                <span translate="settings.form.expertScore">Expert Score:</span> {{ 'global.messages.info.expertScoreOutOf' | translate:'{score: '+ vm.displayedExpertScore + '}' }}
            </div>
            <div>
                <div class="drsl-visibility">
                    <label for="field_profileVisibility" class="drsl-profile-visibility-label">Profile Visibility:</label><select class="form-control privacySelect" name="profileVisibility" ng-model="vm.currentExpert.profileVisibility" id="field_profileVisibility" ng-change="vm.updatingExpert = true">
                    <option value="PUBLIC">Public</option>
                    <option value="INTERN">Intern</option>
                    <option value="HIDDEN">Hidden</option>
                </select>
                </div>
            </div>
        </div>
        <br>
        <div class="drsl-two-items">
            <div>
                Total Number of Cases: {{vm.currentExpert.numberOfCases}}
            </div>
            <div>
                Expert since: {{vm.currentExpert.expertSince | date:'MMM dd, yyyy'}}
            </div>
        </div>
    </div>

</div>

<button type="submit" ng-disabled="form.$invalid" class="btn btn-success drsl-update-user-button" translate="settings.form.button" ng-if="!vm.currentExpert">Update</button>

</div>
<div class="drsl-expert-message-content" ng-if="vm.currentExpert">
    <div class="panel panel-default">
        <div class="panel-body">
          <label for="welcome" translate="settings.form.welcome" class="drsl-expert-textarea-label">Welcome Message</label>
            <textarea name="welcome" rows="4" cols="20" class="form-control" ng-model="vm.currentExpert.welcomeMessage" ng-change="vm.updatingExpert = true" placeholder="Greeting Message"></textarea>
            <label for="bio" translate="settings.form.bio" class="drsl-expert-textarea-label">Bio</label>
            <textarea name="bio" rows="4" cols="20" class="form-control" ng-model="vm.currentExpert.expertBio" ng-change="vm.updatingExpert = true" placeholder="Expert Bio"></textarea>
            <div class="drsl-placeholder-label">
              <select class="form-control" id="field_issue" name="Issue" ng-model="vm.currentExpert.issueexpertise" ng-options="issue as issue.name for issue in vm.issues track by issue.id" ng-change="vm.updatingExpert = true"></select>
              <span class="drsl-select drsl-unit" translate="settings.form.issue">(Issue)</span>
            </div>
            <div class="drsl-placeholder-label">
              <select class="form-control" id="field_technology" name="Technology" ng-model="vm.currentExpert.firsttechnology" ng-options="technology as technology.name for technology in vm.technologies track by technology.id" ng-change="vm.updatingExpert = true"></select>
              <span class="drsl-select drsl-unit" translate="settings.form.technology">(1st Technology Focus)</span>
            </div>
            <div class="drsl-placeholder-label">
              <select class="form-control" id="field_technology2" name="Technology2" ng-model="vm.currentExpert.secondtechnology" ng-options="technology as technology.name for technology in vm.technologies track by technology.id" ng-change="vm.updatingExpert = true"></select>
              <span class="drsl-select drsl-unit" translate="settings.form.technology2">(2nd Technology Focus)</span>
            </div>
            <button type="submit" class="btn btn-success" translate="settings.form.button" ng-click="vm.save()">Update</button>
        </div>
    </div>
</div>
</form>
<div class="drsl-payment-content" ng-if="!vm.currentExpert && !vm.isAlreadyAuthorized">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading drsl-authorized-credit-card">
                <span>
                    Authorized Credit Card
                </span>
                <span>
                    <img src="https://www.braintreepayments.com/images/visa-logo-8ea8a4fc.svg" alt="">
                    <img src="https://www.braintreepayments.com/images/mastercard-logo-09664196.svg" alt="">
                    <img src="https://www.braintreepayments.com/images/maestro-logo-db229f9d.svg" alt="">
                    <img src="https://www.braintreepayments.com/images/jcb-logo-62a7882e.svg" alt="">
                    <img src="https://www.braintreepayments.com/images/discover-logo-d781232e.svg" alt="">
                    <img src="https://www.braintreepayments.com/images/amex-logo-e238f7a3.svg" alt="">
                    <img src="https://www.braintreepayments.com/images/diners-club-logo-cd0de029.svg" alt="">
                </span>
            </div>
            <div class="panel-body">
                <form ng-submit="vm.addCard()">
                    <div class="form-group">
                        <label class="control-label sr-only" for="ccName">Name on Card</label>
                        <input type="text" class="form-control drsl-inline" id="ccName" name="ccName" placeholder="Card Holder's Name"
                        ng-minlength=1  ng-model="vm.creditCard.name" required>
                        <span ng-if="vm.error && vm.creditCard.name === undefined" class="drsl-invalid">Invalid Name</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label sr-only" for="text">Card Number</label>
                        <input type="number" class="form-control drsl-card-number-quarter" id="ccNumber1" name="ccNumber" placeholder="Credit"
                        ng-model="vm.creditCard.number.one" required  ng-keypress="vm.numberTab($event)" maxlength="4">
                        -
                        <input type="number" class="form-control drsl-card-number-quarter" id="ccNumber2" name="ccNumber" placeholder="Card" ng-keypress="vm.numberTab($event)"
                        ng-model="vm.creditCard.number.two" required maxlength="4">
                        -
                        <input type="number" class="form-control drsl-card-number-quarter" id="ccNumber3" name="ccNumber" placeholder="Number" ng-keypress="vm.numberTab($event)"
                        ng-model="vm.creditCard.number.three" required maxlength="4">
                        -
                        <input type="number" class="form-control drsl-card-number-quarter" id="ccNumber4" name="ccNumber"  ng-keypress="vm.numberTab($event)"
                        ng-model="vm.creditCard.number.four" required maxlength="4">
                        <span ng-if="vm.error && vm.number.join('').length != 16" class="drsl-invalid">Invalid Card Number</span>
                    </div>
                    <div class="form-group">

                        <label class="control-label sr-only" for="ccName">Expiration Date</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <select class="form-control" name="expiry-month" ng-model="vm.creditCard.month" required>
                                    <option value="">Month</option>
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" name="expiry-year" ng-model="vm.creditCard.year" required>
                                    <option value="">Year</option>
                                    <option value="13">2013</option>
                                    <option value="14">2014</option>
                                    <option value="15">2015</option>
                                    <option value="16">2016</option>
                                    <option value="17">2017</option>
                                    <option value="18">2018</option>
                                    <option value="19">2019</option>
                                    <option value="20">2020</option>
                                    <option value="21">2021</option>
                                    <option value="22">2022</option>
                                    <option value="23">2023</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label sr-only" for="cvv">Card CVV</label>
                                <input ng-keypress="vm.numberTab($event)" type="number" class="form-control drsl-card-number-quarter" id="cvv" name="cvv" placeholder="CVV"
                                ng-minlength=1 ng-maxlength=4  maxlength="3" ng-model="vm.creditCard.cvv" required>
                                <span ng-if="vm.error && vm.creditCard.cvv.toString().length != 3" class="drsl-invalid">Invalid CVV Number</span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-success drsl-update-card-button" translate="settings.form.button">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<div class="drsl-settings-wrapper" ng-if="!vm.isAlreadyAuthorized && !vm.currentExpert">
    <div ng-if="!vm.isAlreadyAuthorized">
        <div class="drsl-sub-header" translate="settings.authorization.header">
            Manage Authorized Users
        </div>
        <div class="panel panel-default drsl-user-managment">
            <div class="panel-heading">
                <form class="drsl-user-add-form" name="addUserForm" ng-submit="vm.addAuthorizedUser()">
                    <label class="control-label" for="uEmail" translate="settings.authorization.input">Add User</label>
                    <input type="text" class="form-control" id="uEmail" ng-model="vm.invitedUser" name="uEmail" placeholder="Email address; multiple users separated by commas"
                    ng-minlength=1 >
                    <button type="submit" class="btn btn-success inviteButton" translate="settings.form.button">Update</button>
                </form>
            </div>
            <div class="panel-body">
                <div class="drsl-user-list empty" ng-hide="vm.invitedUsers.length">
                    <div  translate="settings.authorization.noInvitedUsers">No Invited Users</div>
                </div>
                <div class="drsl-user-list" ng-show="vm.invitedUsers.length">
                    <table class="table">
                        <thead>
                            <tr>
                                <th translate="settings.authorization.InvitedUsers">Invited Users</th>
                                <th translate="settings.authorization.remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="invitedUser in vm.invitedUsers track by $index">
                                <td>
                                    {{invitedUser.authorizeduser.email}}
                                </td>
                                <td>
                                  <img src="content/images/black_trashcan_icon.png" alt="" ng-click="vm.removeInvitedUsers(invitedUser.id, $index)"/>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default drsl-active-user-managment">
                <div class="panel-heading">
                    <div translate="settings.authorization.activeHeader">(Invited Users automatically join Active Users once they register)</div>
                </div>
                <div class="panel-body">
                    <div class="drsl-user-list empty" ng-hide="vm.authorizedUsers.length">
                        <div  translate="settings.authorization.noActiveUsers">No Active Users</div>
                    </div>
                    <div class="drsl-user-list" ng-show="vm.authorizedUsers.length">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th translate="settings.authorization.ActiveUsers">Active Users</th>
                                    <th translate="settings.authorization.remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in vm.authorizedUsers track by $index">
                                    <td>
                                        {{user.authorizeduser.firstName}}
                                        {{user.authorizeduser.lastName}}
                                        {{user.authorizeduser.email}}
                                    </td>
                                    <td>
                                      <img src="content/images/black_trashcan_icon.png" ng-click="vm.removeAuthorizedUsers(user.id, $index)"/>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
