/* ==========================================================================
Global
========================================================================== */

body {
    background: $background-color url("#{$image-path-global}/bkg.jpg") repeat-x;
    font-family: $main-font;
    color: $default-text-color;
    font-size: $default-font-size;
}
.drsl-detailed-rating {
    font-size: 13px;
    text-align: center;
}
.drsl-reports-top {
    margin-top: 40px;
}
.drsl-rating-comment {
    white-space: pre-line;
    padding: 10px;
    border: 1px solid #E2E2E2;
    margin-top: 10px;
}
.drsl-report-comment-textarea {
    width: 175px;
    resize: none;
}
.drsl-rating-comment-header-1 {
    float: left;
    font-size: 20px;
}
.drsl-rating-comment-header-2 {
    float: right;
    font-size: 20px;
}
.drsl-rating-comment-modal {
    position: fixed;
    top: 20%;
    left: 18.5%;
    width: 80%;
    margin-left: -10%;
}
.drsl-main-content {
    position: relative;

    &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        width: 100%;
        height: $nav-height;
        z-index: 1;
    }
}

.drsl-view {
    > div:first-child {
        padding: ($nav-height + $content-padding-top) $content-padding-side $content-padding-side $content-padding-side;
        background-color: $content-container-color;
        margin-left: -15px;
        margin-right: -15px;
        min-height: 800px;

        &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: transparent url("#{$image-path-global}/nv-bkg.png") repeat-x;
            width: 100%;
            height: 320px;
        }
    }
}

.drsl-nav-hello {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .75;
    font-size: $small-font-size;
    margin-left: 15px;
    white-space: nowrap
}

.drsl-no-padding {
    padding: 0;
}

.drsl-sub-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 70px;
    padding-left: $default-padding;
    padding-right: $default-padding;
    text-transform: uppercase;
    color: $sub-header-text-color;
    font-size: $large-font-size;
    font-weight: $thick-weight;
    background: rgb(53, 48, 45);
    background: linear-gradient(to bottom, $sub-header-background-gradient-top, $sub-header-background-gradient-middle, $sub-header-background-gradient-bottom);

    &.drsl-sub-sub-header {
        font-size: $medium-font-size;
        text-transform: capitalize;
        height: auto;
        padding: $default-half-padding 15px $default-half-padding 15px;
        line-height: 1.1;
        font-weight: $thin-weight;
    }

    h2 {
        font-size: $large-font-size;
        font-weight: $thick-weight;
        margin: 0;
        padding: 0;
    }

    .drsl-understated {
        color: $inverted-heading-right-text-color;
    }
}

.drsl-placeholder-label {
    position: relative;
    padding: $default-half-padding;
    .drsl-already-activated-input {
        width: 1151px;
    }
    input[type="text"] {
        padding: $default-half-padding 95px $default-half-padding $default-half-padding;
        border: 1px solid $form-field-border-color;
        border-radius: 4px;
        height: 32px;
        box-shadow: $custom-input-shadow;
    }
    input[type="checkbox"] {
        display: inline-block;
    }
    input::-ms-clear {
        display: none;
    }
    .drsl-unit {
        position: absolute;
        display: block;
        right: 14px;
        top: 17px;
        z-index: 1;
        color: $custom-input-unit-color;
    }
    .drsl-checkbox-unit{
        color: $custom-input-unit-color;
        display: inline-block;
    }
    .drsl-select {
        padding-right: 30px;
    }
}
.drsl-max-results-select {
    line-height: 1;
    pointer-events: none;
    position: absolute;
    right: 150px;
    padding: 10px;
    color: $custom-input-unit-color;
}
.drsl-button-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: $default-double-padding;

    div {
        flex: inherit
    }
}

.drsl-dialog {
    .modal-body {
        padding: 0;

        > div {
            padding: $default-padding;

            &:first-child {
                background-color: $background-color;
                box-shadow: $dialog-button-shelf-shadow;
            }
        }
    }

    h2 {
        margin-bottom: $default-padding;
        span {
            text-transform: uppercase;
        }
    }

    h3 {
        font-size: $medium-font-size;
        font-weight: $thin-weight;
        padding: $default-half-padding 0;
        margin: 0 0 $default-half-padding;
    }

    .btn.btn-default {
        margin-right: $default-half-padding;
    }

    .drsl-dialog-buttons {
        text-align: right;
        padding: 20px;
    }
}

table.drsl-table-scroll {
    width: 100%;
}

table.drsl-table-scroll tbody {
    // width: 668px;
    display: block;
    min-height: 95px;
    max-height: 476px;
    overflow-y: auto;
    overflow-x: hidden;
    > td{
        width: 25%;
    }
}

table.drsl-table-scroll thead > tr {
    width: 100%;
    color: $drsl-label-color;
    display: table;
}
.drsl-updates-message {
    white-space: pre-line;
}
.drsl-outer-table {
    width: 100%;
}
.drsl-inner-table {
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    >table>tbody>tr>td {
        white-space: pre-wrap;
        // width: 59%;
    }
}
.drsl-avaiable-concierge-name {
    text-align: right;
}
.drsl-form-grid {
    display: flex;
    flex-flow: row;

    > div {
        flex: 1;
        text-align: right;
        margin-bottom: 15px;

        &:last-child {
            flex: 3;
            margin-left: $default-half-padding;
            text-align: left;
        }
    }
}

.drsl-label {
    color: $drsl-label-color;
    font-weight: $default-weight;
}
.drsl-required-asterix {
    font-size: 20px;
    color: red;
}
.drsl-tech-props {
    margin-left: 35px;
    width: 240px;
    display: inline-block;
}

.drsl-case-props {
    width: 314px;
    display: inline-block;
}

.drsl-case-inputs {
    width: 570px;
}
.drsl-chat-hr {
    border-top: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.drsl-hipchat-concierge-table {

}
.drsl-hipchat-name {
    width: 27%;
    padding-top: 10px;
    padding-bottom: 10px;
    > button {
        float: left;
        padding: none;
    }
}
.drsl-concierge-chatrooms-header {
    display: inline-block;
    margin: auto;
    padding: 20px;
}
.drsl-open-concierge-chatrooms {
    padding: 20px;
    width: 100%;
    overflow-y: hidden;
}
.drsl-value {
    color: $drsl-value-color;
    font-weight: $default-medium-weight;
}

.drsl-icon-sprites {
    background: url("#{$image-path-global}/icon-sprites.png") no-repeat;
    position: relative;
    width: 65px;
    height: 65px;
    display: inline-block;
    $pos-width: 65px;
    $pos-x: 0px;
    $pos-y: 0px;
}

.drsl-search {
    padding: $default-half-padding 15px 15px 5px;
    cursor: default;

    .drsl-search-input {
        display: none;
        align-items: center;

        input {
            width: 150px;
            color: $search-input-text-color;
            border: 1px solid $search-input-border-color;
            background-color: transparent;
            padding: 4px;
            box-shadow: $search-input-shadow;

            &:focus {
                outline: none;
            }
        }
    }

    .drsl-search-toggle {
        i {
            margin: 8px $default-half-padding $default-half-padding 0;
        }
        &:hover, &:active, &focus {
            color: $search-input-text-color;
        }
    }

    &.expanded {

        .drsl-search-input {
            display: inline-block;
            margin-left: $horizontal-space-between-elements;
            input {
                animation-name: drsl-search-expand-keyframe;
                animation-duration: .5s;
            }
        }

        .drsl-search-toggle {
            i {
                margin-right: 0;
            }
        }
    }
}

.drsl-custom-button {
    flex-flow: row;
    align-items: center;
    position: relative;
    width: $custom-button-size;
    height: $custom-button-size;
    background-color: $custom-button-color;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    color: $custom-button-text-color;
    font-size: $custom-button-font-size;
    font-weight: $thick-weight;
    line-height: $custom-button-line-height;
    border: 0;
    -webkit-transition: all 0.3s ease-in-out;

    span {
        flex: 1;
    }
}

.drsl-custom-button:hover {
    box-shadow: $custom-button-hover-shadow;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.drsl-action-bar {
    background-color: $brand-color;
    padding: 5px 15px 5px $default-padding;
    color: $action-bar-text-color;
    font-size: $default-font-size;
    font-weight: $thin-weight;

    i {
        margin-right: $horizontal-space-between-elements;
    }

    a {
        color: $action-bar-text-color;
        margin-right: $default-padding;
    }
}

.drsl-sub-header, .drsl-action-bar {
    width: 1180px;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}

.drsl-scrolling-container {
    display: block;
    overflow-y: auto;
    border: 2px solid $scrolling-container-border-color;
    padding: $horizontal-space-between-elements;
}
.drsl-hipchat-message {
    // border: 1px solid #CCC;
}
.drsl-hipchat-message-scroller {
    overflow-y: scroll;
    max-height: 600px;
}
.drsl-hipchat-messages-wrapper {
    padding: $default-padding;
    max-height: 600px;
    background-color: $content-background-color;

    .panel-default {
        cursor: pointer;
        margin-bottom: 5px;

        > .panel-heading {
            &.active {
                background-color: $brand-color;
                color: $inverted-heading-text-color;
            }

            .drsl-case-list {
                display: flex;
                flex-flow: row;

                > div {
                    &:first-child {
                        flex: 3;
                        margin-right: $default-half-padding;
                    }

                    &:last-child {
                        flex: 1;
                        text-align: right
                    }
                }

                .drsl-case-list-id {
                    display: inline-block;
                    width: 200px;
                }
            }
        }
    }
}
.drsl-sa-td {
    width: 250px;
}
.drsl-sa-other-label {
    display: block;
}
.drsl-sa-other-input {
    width: 50%;
    display: inline-block;
}
.drsl-sa-button {
    float: right;
}
.drsl-expert-groups-button, .drsl-expert-groups-table {
    position: relative;
}
.drsl-sa-table {
    thead {
        display: block;
        tr {
            width: 100%;
            th {
                width: 9%;
                // padding-left: 20px;
                // padding-right: 20px;
            }
        }
    }
    tbody {
        display: block;
        max-height: 400px;
        overflow-y: scroll;
        tr {
            width: 100%;
            td {
                width: 7%;
                // padding-left: 20px;
                // padding-right: 20px;
            }
        }
    }
}
// .editing-attributes {
//     max-height: 527px;
//     height: 1000px;
// }
.right-panel {
    height: 527px;
    position: relative;
}
