/* ==========================================================================
Global
========================================================================== */

body {
    background: $background-color url("../images/global/bkg.jpg") repeat-x;
    font-family: $main-font;
    color: $default-text-color;
    font-size: $default-font-size;
}

.drsl-main-content {
    position: relative;

    &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        width: 100%;
        height: $nav-height;
        z-index: 1;
    }
}

.drsl-view {
    > div:first-child {
        padding: ($nav-height + $content-padding-top) $content-padding-side $content-padding-side $content-padding-side;
        background-color: $content-container-color;
        margin-left: -15px;
        margin-right: -15px;
        min-height: 800px;

        &:before {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: transparent url("../images/global/nv-bkg.png") repeat-x;
            width: 100%;
            height: 320px;
        }
    }
}

.drsl-nav-hello {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .75;
    font-size: $small-font-size;
    margin-left: 15px;
    white-space: nowrap
}

.drsl-no-padding {
    padding: 0;
}

.drsl-sub-header {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 70px;
    padding-left: $default-padding;
    padding-right: $default-padding;
    text-transform: uppercase;
    color: $sub-header-text-color;
    font-size: $large-font-size;
    font-weight: $thick-weight;
    background: rgb(53, 48, 45);
    background: linear-gradient(to bottom, rgba(53, 48, 45, 1) 0%, rgba(77, 67, 75, 1) 50%, rgba(53, 48, 45, 1) 100%);

    &.drsl-sub-sub-header {
        font-size: $medium-font-size;
        text-transform: capitalize;
        height: auto;
        padding: $default-half-padding 15px $default-half-padding 15px;
        line-height: 1.1;
        font-weight: $thin-weight;
    }

    h2 {
        font-size: $large-font-size;
        font-weight: $thick-weight;
        margin: 0;
        padding: 0;
    }

    .drsl-understated {
        color: $inverted-heading-right-text-color;
    }
}

.drsl-button-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: $default-double-padding;

    div {
        flex: inherit
    }
}

.drsl-expert-thumbnail {
    margin-bottom: $default-half-padding;

    .panel-body {
        text-align: center;
    }

    .thumbnail {
        text-align: center;
        margin-bottom: 0
    }

    .drsl-thumbnail-badge-wrapper {
        display: flex;
        flex-flow: row;
        align-items: center;
        text-align: center;
        color: $brand-color;
        font-size: $large-font-size;
        margin-top: $default-half-padding;

        div {
            flex: 1;
            span {
                border: 1px solid $brand-color;
                display: inline-block;
                width: 25px;
                border-radius: 25%;
            }
        }
    }
}

// Linear Radio Buttons
.drsl-linear-radio {
    // overflow-x: scroll;
    // max-width: 100px;
    height: 100px;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    // margin-left: 20px;
    .drsl-radio-desc {
        flex: 1;
        // margin-right: $default-half-padding;
        color: #5F5B5C;
        text-align: left;
    }

    .drsl-radio-wrapper {
        position: relative;
        top: -5px;
        flex: 3;

        hr {
            position: absolute;
            top: 70%;
            left: 0;
            width: 100%;
            margin: 0;
            z-index: 0;
        }
    }

    .drsl-radio-set {
        max-width: 400px;
        // overflow-x: scroll;
        overflow-y: hidden;
        position: relative;
        display: flex;
        flex-flow: row;
        z-index: 1;
    }

    .drsl-radio-item {
        margin-right: 20px;
        margin-left: 20px;
        flex: 1;
        font-size: $small-font-size;

        label {
            margin: 0;
            cursor: pointer;
            font-weight: $default-weight;
        }

        input {
            cursor: pointer;
        }
    }
    .escalateRadio{
        label{
            width: 145px;
        }
        .drsl-radio-set{
            max-width: none;
        }
        .drsl-linear-radio{
            margin-left: 0px;
        }
    }
    input[type="radio"], input[type="checkbox"] {
        display: none;
    }
    input[type="radio"] + label span:last-child, input[type="checkbox"] + label span:last-child {
        display: inline-block;
        width: 17px;
        height: 17px;
        cursor: pointer;
        background-color: $content-background-color;
        border: 3px solid $custom-radio-border-color;
        border-radius: 50%;
        margin-top: 5px;
    }
    input[type="checkbox"] + label span:last-child {
        border-radius: 25%;
    }
    input[type="radio"]:checked + label span:last-child, input[type="checkbox"]:checked + label span:last-child {
        background-color: $brand-color;
        border: 3px solid $brand-color;
    }
}

.modal-dialog {
    &.modal-sm {
        width: 600px;
    }

    &.modal-lg {
        width: 970px;
    }

    .drsl-dialog-header {
        h2 {
            font-weight: 200;
            margin-top: 0;
            font-size: 22px;
        }
    }
}
// tr:nth-child(even) {
//   background-color: #ccc;
// }
// tr:nth-child(odd) {
//   background-color: white;
// }
// .historyBox{
//     max-height: 95px;
//     overflow-y: hidden;
//     font-weight: normal !important;
//     border: 1px solid #ccc;
// }
// .updatesList{
//     overflow-y: auto;
//     overflow-x: hidden;
// }

table.scroll {
    width: 500px;
}
table.scroll tbody {
    display: block;
    height: 95px;
    overflow-y: scroll;
}
table.scroll thead > tr {
    color: #666666;
    display: block;
    position: relative;
}
.drsl-form-grid {
    display: flex;
    flex-flow: row;

    > div {
        flex: 1;
        text-align: right;
        margin-bottom: 15px;

        &:last-child {
            flex: 3;
            margin-left: 10px;
            text-align: left;
            // font-weight: 500;
        }
    }
}
.escalation-form-grid {
    // display: flex;
    // flex-flow: row;

    > div {
        // flex: 1;
        // text-align: right;
        // margin-right: 20px;
        margin-bottom: 15px;

        &:last-child {
            flex: 3;
            text-align: left;
            font-weight: 500;
        }
    }
}
.escalation-radios{
    overflow-x: hidden;
}
.drsl-label {
    color: $drsl-label-color;
    font-weight: $default-weight;
}

.drsl-value {
    color: $drsl-value-color;
    font-weight: $default-medium-weight;
}

.drsl-badge-sprites {
    background: url("../images/global/badge-sprites.png") no-repeat;
    width: 75px;
    height: 75px;
    display: inline-block;
    $pos-width: 75px;
    $pos-x: 0px;
    $pos-y: 0px;

    &.badge-1 {
        background-position: 0px 0px;
    }
    &.badge-2 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.badge-3 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.badge-4 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.badge-5 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.badge-6 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.badge-7 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.badge-8 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.badge-9 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.badge-10 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.badge-11 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.badge-12 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.badge-13 {
        $pos-x: ($pos-x - $pos-width);
        background-position: $pos-x $pos-y;
    }
    &.selected {
        background-position-y: -75px;
    }
}

.drsl-icon-sprites {
    background: url("../images/global/icon-sprites.png") no-repeat;
    position: relative;
    width: 65px;
    height: 65px;
    display: inline-block;
    $pos-width: 65px;
    $pos-x: 0px;
    $pos-y: 0px;
}

.drsl-search {
    padding: 10px 15px 15px 5px;
    cursor: default;

    .drsl-search-input {
        display: none;
        align-items: center;

        input {
            width: 150px;
            color: white;
            border: 1px solid #DDDCDB;
            background-color: transparent;
            padding: 4px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

            &:focus {
                outline: none;
            }
        }
    }

    .drsl-search-toggle {
        i {
            margin: 8px 10px 10px 0;
        }
        &:hover, &:active, &focus {
            color: #ffffff;
        }
    }

    &.expanded {

        .drsl-search-input {
            display: inline-block;
            margin-left: 5px;
            input {
                animation-name: drsl-search-expand-keyframe;
                animation-duration: .5s;
            }
        }

        .drsl-search-toggle {
            i {
                margin-right: 0;
            }
        }
    }
}

.drsl-custom-button {
    // display: flex;
    flex-flow: row;
    align-items: center;
    position: relative;
    width: $custom-button-size;
    height: $custom-button-size;
    background-color: $custom-button-color;
    // box-shadow: $custom-button-shadow;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    color: $custom-button-text-color;
    font-size: $custom-button-font-size;
    font-weight: bold;
    line-height: $custom-button-line-height;
    cursor: pointer;
    border: 0;
    -webkit-transition: all 0.3s ease-in-out;

    span {
        flex: 1;
    }
}
.drsl-custom-button:hover {
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.drsl-action-bar {
    background-color: #F48B3D;
    padding: 5px 15px 5px 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;

    i {
        margin-right: 5px;
    }

    a {
        color: white;
        margin-right: 20px;
    }
}

.drsl-scrolling-container {
    display: block;
    overflow-y: auto;
    border: 2px solid #E2E2E2;
    padding: 5px;
}

.drsl-file-upload-component {
    border: 1px dashed #DBD9DA;
    text-align: center;
    padding: 10px;
    > span {
        color: #F48B3D
    }
}
.attachmentItem {
    margin-right: 10px;
}
.uploadLink:hover{
    cursor: pointer;
}
.shareCaseTop{
    padding: 20px 0px 20px 0px;
}
.shareCaseHead{
    margin: 0px 20px 0px 20px;
}
.permStatus{
    padding-left: 60px;
}
.fullAccess{
    padding-left: 60px;
    padding-right: 20px;
}
.statusBool{
    padding-left: 60px;
    padding-right: 40px;
}
.removeButton{
    padding-left: 15px;
    button{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.shareHr{
    height:2px;
    border:none;
    color:#E2E2E2;
    background-color:#E2E2E2;
}
.shareInput{
    width: 345px;
    height: 33px;
}
.shareSelect{
    width: 168px;
    display: inline-block;
}
.decisionButtons{
    text-align: right;
    margin-right: 20px;
}
// Fonts
@font-face {
    font-family: 'Raleway';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Raleway-200.eot');
    src: url('../fonts/Raleway-200.eot?#iefix') format('embedded-opentype'),
    local('Raleway ExtraLight'),
    local('Raleway-200'),
    url('../fonts/Raleway-200.woff2') format('woff2'),
    url('../fonts/Raleway-200.woff') format('woff'),
    url('../fonts/Raleway-200.ttf') format('truetype'),
    url('../fonts/Raleway-200.svg#Raleway') format('svg');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Raleway-regular.eot');
    src: url('../fonts/Raleway-regular.eot?#iefix') format('embedded-opentype'),
    local('Raleway'),
    local('Raleway-regular'),
    url('../fonts/Raleway-regular.woff2') format('woff2'),
    url('../fonts/Raleway-regular.woff') format('woff'),
    url('../fonts/Raleway-regular.ttf') format('truetype'),
    url('../fonts/Raleway-regular.svg#Raleway') format('svg');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Raleway-500.eot');
    src: url('../fonts/Raleway-500.eot?#iefix') format('embedded-opentype'),
    local('Raleway Medium'),
    local('Raleway-500'),
    url('../fonts/Raleway-500.woff2') format('woff2'),
    url('../fonts/Raleway-500.woff') format('woff'),
    url('../fonts/Raleway-500.ttf') format('truetype'),
    url('../fonts/Raleway-500.svg#Raleway') format('svg');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Raleway-600.eot');
    src: url('../fonts/Raleway-600.eot?#iefix') format('embedded-opentype'),
    local('Raleway SemiBold'),
    local('Raleway-600'),
    url('../fonts/Raleway-600.woff2') format('woff2'),
    url('../fonts/Raleway-600.woff') format('woff'),
    url('../fonts/Raleway-600.ttf') format('truetype'),
    url('../fonts/Raleway-600.svg#Raleway') format('svg');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Raleway-700.eot');
    src: url('../fonts/Raleway-700.eot?#iefix') format('embedded-opentype'),
    local('Raleway Bold'),
    local('Raleway-700'),
    url('../fonts/Raleway-700.woff2') format('woff2'),
    url('../fonts/Raleway-700.woff') format('woff'),
    url('../fonts/Raleway-700.ttf') format('truetype'),
    url('../fonts/Raleway-700.svg#Raleway') format('svg');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: normal;
    src: url('../fonts/Raleway-800.eot');
    src: url('../fonts/Raleway-800.eot?#iefix') format('embedded-opentype'),
    local('Raleway Bold'),
    local('Raleway-800'),
    url('../fonts/Raleway-800.woff2') format('woff2'),
    url('../fonts/Raleway-800.woff') format('woff'),
    url('../fonts/Raleway-800.ttf') format('truetype'),
    url('../fonts/Raleway-800.svg#Raleway') format('svg');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/Raleway-900.eot');
    src: url('../fonts/Raleway-900.eot?#iefix') format('embedded-opentype'),
    local('Raleway Bold'),
    local('Raleway-900'),
    url('../fonts/Raleway-900.woff2') format('woff2'),
    url('../fonts/Raleway-900.woff') format('woff'),
    url('../fonts/Raleway-900.ttf') format('truetype'),
    url('../fonts/Raleway-900.svg#Raleway') format('svg');
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/Work-Sans-200.eot');
    src: url('../fonts/Work-Sans-200.eot?#iefix') format('embedded-opentype'),
    local('Work Sans ExtraLight'),
    local('Work-Sans-200'),
    url('../fonts/Work-Sans-200.woff2') format('woff2'),
    url('../fonts/Work-Sans-200.woff') format('woff'),
    url('../fonts/Work-Sans-200.ttf') format('truetype'),
    url('../fonts/Work-Sans-200.svg#WorkSans') format('svg');
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/Work-Sans-regular.eot');
    src: url('../fonts/Work-Sans-regular.eot?#iefix') format('embedded-opentype'),
    local('Work Sans'),
    local('Work-Sans-regular'),
    url('../fonts/Work-Sans-regular.woff2') format('woff2'),
    url('../fonts/Work-Sans-regular.woff') format('woff'),
    url('../fonts/Work-Sans-regular.ttf') format('truetype'),
    url('../fonts/Work-Sans-regular.svg#WorkSans') format('svg');
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Work-Sans-600.eot');
    src: url('../fonts/Work-Sans-600.eot?#iefix') format('embedded-opentype'),
    local('Work Sans SemiBold'),
    local('Work-Sans-600'),
    url('../fonts/Work-Sans-600.woff2') format('woff2'),
    url('../fonts/Work-Sans-600.woff') format('woff'),
    url('../fonts/Work-Sans-600.ttf') format('truetype'),
    url('../fonts/Work-Sans-600.svg#WorkSans') format('svg');
}

@font-face {
    font-family: 'Work Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/Work-Sans-700.eot');
    src: url('../fonts/Work-Sans-700.eot?#iefix') format('embedded-opentype'),
    local('Work Sans Bold'),
    local('Work-Sans-700'),
    url('../fonts/Work-Sans-700.woff2') format('woff2'),
    url('../fonts/Work-Sans-700.woff') format('woff'),
    url('../fonts/Work-Sans-700.ttf') format('truetype'),
    url('../fonts/Work-Sans-700.svg#WorkSans') format('svg');
}
