/* ==========================================================================
Navbar
========================================================================== */
.navbar {
    min-height: $nav-height;

    .container {
        min-height: $nav-height;
    }
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    z-index: 2;
    color: $nav-text-color;

    .navbar-nav > .dropdown.active > a,
    .navbar-nav > .dropdown.active > a:hover,
    .navbar-nav > .dropdown.active > a:focus {
        background-color: transparent;
        color: $nav-text-color;
    }

    .navbar-brand {
        height: inherit;
        &.logo .logo-img {
            height: inherit;
            margin-left: 10px;
            width: 212px;
        }
    }
}

.navbar-fixed-top {
    position: absolute;
}

.navbar-default .navbar-nav > li > a {
    color: $nav-text-color;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: transparent;
    color: $nav-text-active-color;
}

.navbar > .container .navbar-brand {
    margin-left: 85px;
}
.navbar-right {
    margin-right: 85px;
    margin-top: 17px;
}

.nav.navbar-nav.navbar-right {
    .dropdown-menu {
        right: initial;
        background-color: rgba(0, 0, 0, .8);

        > li {
            &.active {
                a {
                    background-color: rgba(0, 0, 0, 1);
                    &:hover {
                        color: #ffffff;
                    }
                }
            }

            > a {
                color: #FFFFFF;
                &:hover {
                    color: #000000;
                }
            }
        }
    }
}

/* ==========================================================================
Container
========================================================================== */
.container {
    @media screen and (min-width: 200px) and (max-width: 4000px) {
        width: $site-max-width;
    }
}

/* ==========================================================================
Dialogs
========================================================================== */
.modal-dialog {
    @media (min-width: 768px) {
        width: 760px;
        margin: 30px auto;
    }

    .modal-content {
        background: rgba(255, 255, 255, .90);
        border-radius: 0;

        .modal-header {
            padding-bottom: 0;
            border: 0;
            display: none;

            .modal-title {
                visibility: hidden;
            }
        }
    }
}

.modal-open {
    .popover.fade.in {
        display: none !important;;
    }
}

/* ==========================================================================
Buttons
========================================================================== */
.btn {
    &.btn-primary {
        background-color: $primary-button-background-color;
        border-color: $primary-button-border-color;

        &:active, &:hover, &:focus {
            background-color: $primary-button-background-color;
            border-color: $primary-button-border-color;
        }
    }

    &.btn-success {
        background-color: $brand-color;
        border-color: $brand-border-color;

        &:active, &:hover, &:focus {
            background-color: $brand-color;
            border-color: $brand-border-color;
        }

        .badge {
            color:  $brand-color;
        }

    }
}

/* ==========================================================================
Forms
========================================================================== */
.form-control[readonly] {
    background: white;
}
/* ==========================================================================
Tables
========================================================================== */
.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: #e6e6e6;
  }
}
/* ==========================================================================
Links
========================================================================== */
a, a:hover, a:focus {
    color: $brand-color;

    &.drsl-link-disabled {
        opacity: .5;
        cursor: default;

        &:hover {
            text-decoration: none;
        }
    }

    &.drsl-link-inactive, &.drsl-link-inactive:hover, &.drsl-link-inactive:focus {
        opacity: .5;
        text-decoration: none;
        cursor: default;
    }
}
