/* ==========================================================================
Fonts
========================================================================== */
// Font Families **************************
$main-font: 'Raleway', 'Work Sans', Helvetica, Arial, Lucida, sans-serif;
$numbers-font: 'Work Sans', Helvetica, Arial, Lucida, sans-serif;

// Font Sizes *****************************
$default-font-size: 14px;
$tiny-font-size: 10px;
$small-font-size: 11px;
$medium-font-size: 16px;
$large-font-size: 20px;
$custom-button-font-size: 30px;
$dialog-header-font-size: 22px;
$glyphicon-chevron-font-size: 25px;
// Home/Landing
$home-title-font-size: 49px;
$home-tagline-font-size: 17px;
$home-technology-font-size: 28px;
$home-additional-info-heading-font-size: 25px;
$home-additional-info-txt-font-size: 15px;
// Date Picker
$date-picker-month-font-size: 18px;
// Account Settings
$account-settings-authorized-credit-card-font-size: 12px;
$account-settings-email-font-size: 13px;
// Account Activation
$account-activation-font-size: 25px;

// Font Weight ****************************
$default-weight: 400;
$default-medium-weight: 500;
$thin-weight: 200;
$medium-weight: 600;
$thick-weight: 700;
// Home/Landing
$home-main-header-weight: 900;
$home-headings-weight: 300;
$home-technology-weight: 300;

// Line Height ****************************
$custom-button-line-height: .95em;

/* ==========================================================================
Colors
========================================================================== */
// Brand Colors ***************************
$brand-color: #F48B3D;

// Background Colors **********************
$background-color: #fff;
$nav-dropdown-background-color: rgba(0, 0, 0, .8);
$nav-dropdown-active-background-color: rgba(0, 0, 0, 1);
$modal-content-background: rgba(255, 255, 255, .90);
$form-field-background-color: #DBDBDB;
$form-field-readonly-background: #fff;
$content-background-color: $background-color;
$primary-button-background-color: #B0AFB4;
$content-container-color: #E5E5E5;
$row-highlight-color: #E5E5E5;
$home-additional-info-background-color: #fff;

$sub-header-background: rgb(53, 48, 45);
$sub-header-background-gradient-top: rgba(53, 48, 45, 1) 0%;
$sub-header-background-gradient-middle: rgba(77, 67, 75, 1) 50%;
$sub-header-background-gradient-bottom: rgba(53, 48, 45, 1) 100%;

// Concierge
$tech-details-dropdown-selection-background-color: #f5f5f5;
// Case Summary
$case-summary-updates-background: rgba(255, 255, 255, 0.9);
// Account Password
$account-password-box-background-color: rgba(255, 255, 255, .9);

// Text Colors *****************************
$default-text-color: #333;
$nav-text-color: #DDDCDB;
$nav-text-active-color: #FFF;
$nav-text-hover-color: #000;
$inverted-heading-text-color: #fff;
$inverted-heading-right-text-color: #838584;
$sub-header-text-color: #F5F1EE;
$inactive-text-color: #c0c0c0;
$custom-button-text-color: #fff;
$form-field-placeholder-color: #F8F8F8;
$drsl-label-color: #999999;
$drsl-value-color: #1a1a1a;
$home-additional-info-heading-color: #666666;
$custom-input-unit-color: #ac9999;
$invalid-text-color: #FF0000;
$search-input-text-color: $nav-text-active-color;
$action-bar-text-color: #fff;
// Home/Landing
$home-main-header-text-color: rgb(25%, 25%, 25%);
$home-additional-info-text-color: #9A9798;
// Date Picker
$date-picker-selected-day-text-color: #fff;
// Account Activation
$account-activation-text-color: #fff;
$account-activation-link-text-color: #fff;

// Border Colors **************************
$form-field-border-color: #CCC;
$custom-radio-border-color: #B0AFB4;
$primary-button-border-color: #9C9FA3;
$brand-border-color: #E58C38;
$photo-border-color: #fff;
$horizontal-separator-color: #E2E2E2;
$empty-box-border-color: #E5E5E5;
$search-input-border-color: $nav-text-color;
$scrolling-container-border-color: $horizontal-separator-color;
$attachments-inline-box-border-color: #E2E2E2;
// Home/Landing
$home-additional-info-border-color: #DCDCDC;
// Case Summary
$case-summary-updates-separator-color: #1a1a1a;
// Account Password
$account-password-box-border-color: #D8D8D8;
// Account Activation
$account-activation-main-border-color: #d6e9c6;

// Shadow Colors **************************
$content-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
$custom-button-shadow: 0 5px 40px rgba(0, 0, 0, 0.5);
$custom-button-hover-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.75);
$custom-input-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
$dialog-button-shelf-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
$search-input-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
$attachments-wrapper-shadow: 0 6px 5px rgba(0, 0, 0, 0.15);
// Home/Landing
$home-connect-button-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.75);
// Account Password
$account-password-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.3);

// Button Colors **************************
$custom-button-color: $brand-color;

/* ==========================================================================
Dimensions
========================================================================== */
// Page ***********************************
$site-max-width: 1280px;
// Home/Landing
$home-view-min-height: 840px;
$home-background-width: 1280px;
$home-background-height: 1280px;
$home-background-gradient-height: 840px;
// Concierge
$concierge-min-height: 625px;

// Padding/Margins ************************
$default-padding: 20px;
$default-double-padding: ($default-padding * 2);
$default-half-padding: ($default-padding / 2);
$content-padding-top: 25px;
$content-padding-side: 50px;
$horizontal-space-between-elements: 5px;

// Elements *******************************
$nav-height: 84px;
$custom-button-size: 150px;
// Home/Landing
$home-connect-button-dimensions: 110px;
// Concierge
$concierge-go-button-dimensions: 125px;
// Case Summary
$case-summary-profile-photo-dimensions: 175px;
$case-complete-close-case-button-dimensions: 100px;
$case-summary-updates-width: 560px;

/* ==========================================================================
Paths
========================================================================== */
$image-path: "../images";
$image-path-global: $image-path + "/global";
$font-path: "../fonts";

