<div class="drsl-case-expert-form">
    <form name="expertForm" ng-submit="submit()">
        <!-- Name -->
        <div>
            <span class="drsl-label">Expert</span>
            <span class="drsl-value">{{expert.user.firstName}} {{expert.user.lastName}}</span>
        </div>

        <!-- Desired Outcome-->
        <div class="drsl-label-value-row">
            <div><span  class="drsl-label" translate="case.professional.input.desiredOutcome">Desired<br/>Outcome</span></div>
            <div><textarea class="form-control drsl-value" ng-model="case.expectedResult" ng-keydown="fieldTouched()" placeholder="{{'case.professional.input.desiredOutcome.placeholder' | translate}}" ng-disabled="case.isResolved"></textarea></div>
        </div>

        <!-- Estimated # hours -->
        <div class="drsl-label-value-row">
            <div><span  class="drsl-label" translate="case.professional.input.estimatedHours">Estimated<br/># hours</span></div>
            <div><input name="estimateHours" class="form-control drsl-value" type="number" ng-model="localEstimateHours" ng-keydown="fieldTouched()" placeholder="{{'case.professional.input.estimatedHours.placeholder' | translate}}" ng-disabled="case.isResolved"/></div>
        </div>

        <!-- Estimate Comment -->
        <div class="drsl-label-value-row">
            <div><span  class="drsl-label" translate="case.professional.input.estimateComment">Estimate<br/>Comment</span></div>
            <div><textarea class="form-control drsl-value" ng-model="case.estimateComment" ng-keydown="fieldTouched()" placeholder="{{'case.professional.input.estimateComment.placeholder' | translate}}" ng-disabled="case.isResolved"></textarea></div>
        </div>

        <!-- Total Time on Case -->
        <div class="drsl-label-value-row">
            <div><span  class="drsl-label" translate="case.professional.input.timeOnCase">Total time<br/>on case</span></div>
            <div><input class="form-control drsl-value" type="number" ng-model="case.timeOnCase" ng-keydown="fieldTouched()" placeholder="{{'case.professional.input.timeOnCase.placeholder' | translate}}" ng-disabled="case.isResolved"/></div>
        </div>

        <!-- Resolved -->
        <div class="drsl-label-value-row drsl-case-resolved-wrapper">
            <div><span class="drsl-label" translate="case.professional.input.resolved">Finalize</span></div>
            <div class="drsl.value" ng-hide="case.isResolved || StatusModel.checkCaseStatus(case.status, 'working')"><span class="drsl-complete-lnk disabled" translate="case.professional.input.resolved.action"></span></div>
            <div class="drsl-value" ng-hide="case.isResolved || !StatusModel.checkCaseStatus(case.status, 'working')"><a translate="case.professional.input.resolved.action" ng-click="openCompleteCase($event);" disabled></a></div>
            <div ng-show="case.isResolved"><span class="drsl-value" translate="case.professional.input.resolved.complete"></span></div>
        </div>

        <!-- Last Update & Main Button -->
        <div>
            <div>
                <span class="drsl-label" translate="case.professional.input.lastUpdate">Last update/action </span>
                <span class="drsl-value"> {{case.dateLastUpdate | date:"MM/dd/yy h:mm a"}}</span>
            </div>
            <div><button type="submit" class="btn btn-success" translate="entity.action.update" ng-disabled="case.isResolved">update</button></div>
        </div>
    </form>
</div>
