<div class="drsl-case-summary">
    <!-- User Name -->
    <div>
        <span class="drsl-label" translate="case.details.user">User:</span> {{case.user.firstName}}
    </div>
    <!-- <div>
        <span class="drsl-label" translate="case.details.user">User:</span> {{case.user}}
    </div> -->

    <!-- Summary -->
    <div class="drsl-label-value-row">
        <div><span class="drsl-label" translate="case.details.summary">Summary:</span></div>
        <div><div class="drsl-scrolling-container">{{case.summary}}</div></div>
    </div>

    <!-- Status -->
    <div class="drsl-case-status-wrapper">
        <div>
            <span class="drsl-label" translate="case.details.status.main" ng-click="cycleStatus()">Current Status:</span>
            <span ng-show="case.status.name == 'CREATED'">This case has been created and is currently being assigned to an expert.</span>
            <span ng-show="case.status.name == 'estimated'">An expert is currently investigating the issue.</span>
            <span ng-show="case.status.name == 'working'">&quot;Log file shows configuration errors. Testing new config...&quot;.</span>
            <span ng-show="case.status.name == 'completed'">The expert has marked this issue as resolved.</span>
            <span ng-show="case.status.name == 'closed'">This issue is closed.</span>
        </div>
    </div>
    <!-- <div class="drsl-case-status-wrapper">
        <div>
            <span class="drsl-label" translate="case.details.status.main" ng-click="cycleStatus()">Current Status:</span>
            <span ng-show="case.status == 'created'">This case has been created and is currently being assigned to an expert.</span>
            <span ng-show="case.status == 'estimated'">An expert is currently investigating the issue.</span>
            <span ng-show="case.status == 'working'">&quot;Log file shows configuration errors. Testing new config...&quot;.</span>
            <span ng-show="case.status == 'completed'">The expert has marked this issue as resolved.</span>
            <span ng-show="case.status == 'closed'">This issue is closed.</span>
        </div>
    </div> -->

    <!-- Start / ETA to Completion -->
    <div>
        <span><span class="drsl-label">Start</span> {{case.datecreated | date:"MM/dd/yy h:mm a"}}</span>
        <div class="pull-right"><span class="drsl-label" translate="case.details.resolutionETA">ETA to Completion</span> {{case.resolutionETA}}</div>
    </div>
    <!-- <div>
        <span><span class="drsl-label">Start</span> {{case.startDate | date:"MM/dd/yy h:mm a"}}</span>
        <div class="pull-right"><span class="drsl-label" translate="case.details.resolutionETA">ETA to Completion</span> {{case.resolutionETA}}</div>
    </div> -->

    <!-- Estimate -->
    <div>
        <span><span class="drsl-label" translate="case.details.estimate">Estimate</span> $500 (4 hrs @ $125/hr)</span>
    </div>

    <!-- Timeline -->
    <div class="drsl-timeline">
        <div class="drsl-label">Timeline</div>
        <div class="drsl-timeline-icon-wrapper">
            <hr />

            <div class="drsl-timeline-icons">
                <div ng-class="{'drsl-timeline-item-done': passedStep($index)}" ng-repeat="status in statusOptions">
                    <div uib-popover-template="status.template" popover-trigger="none" popover-is-open="status.value == case.status">
                        <span class="drsl-icon-sprites"></span>
                    </div>
                    <div class="drsl-timeline-text">{{status.label}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
