<div class="drsl-case-summary">
    <!-- User Name -->
    <div>
        <span class="drsl-label" translate="case.details.user">User:</span> <span class="drsl-value">{{case.user.firstName || case.user.email}}</span>
    </div>

    <!-- Summary -->
    <div class="drsl-label-value-row">
        <div><span class="drsl-label" translate="case.details.summary">Summary:</span></div>
        <div><div class="drsl-scrolling-container drsl-value">{{case.summary}}</div></div>
    </div>

    <!-- Status -->
    <div class="drsl-case-status-wrapper">
        <div>
            <span ng-show="DrslMetadata.demoModeEnabled" class="drsl-label" translate="case.details.status.main" ng-click="cycleStatus()">Status</span>
            <span ng-hide="DrslMetadata.demoModeEnabled" class="drsl-label" translate="case.details.status.main">Status</span>
            <span ng-show="case">
                <span class="drsl-value">{{'case.details.status.' + case.status.name.toLowerCase() + '.info' | translate}}</span>
                <div class="drsl-summary-attachment-wrapper">
                    <drsl-attach-files hide-buttons="true" hide-controls="true" hide-tooltip="true" case-id="{{case.id}}" auto-close="outside"></drsl-attach-files>
                </div>
            </span>
        </div>
    </div>

    <!-- Start / ETA to Completion -->
    <div>
        <span><span class="drsl-label">Start</span> <span class="drsl-value">{{case.dateCreated | date:'MMM dd, yyyy h:mm a'}}</span></span>
        <div class="pull-right drsl-value" ng-show="case.estimateHours && !case.timeOnCase && case.status.id < 4 "><span class="drsl-label" translate="case.details.resolutionETA">ETA to Completion</span><span class="drsl-eta-hour"> {{case.estimateHours}} hr<span ng-show="(case.estimateHours) > 1">s</span></span></div>
        <div class="pull-right drsl-value" ng-show="case.estimateHours && case.timeOnCase && case.status.id < 4 "><span class="drsl-label" translate="case.details.resolutionETA">ETA to Completion</span><span class="drsl-eta-date"> {{case.estimateHours - case.timeOnCase}} hr<span ng-show="(case.estimateHours - case.timeOnCase) > 1">s</span></span></div>
        <div class="pull-right drsl-value" ng-show="case.status.id >= 4"><span class="drsl-label" translate="case.details.resolutionETA">ETA to Completion</span><span class="drsl-eta-hour"> 0 hrs<span ng-show="(case.estimateHours - case.timeOnCase) > 1">s</span></span></div>
    </div>

    <!-- Estimate / Requested Delivery -->
    <div ng-if="case.status.id < 4">
        <span>
            <span class="drsl-label" translate="case.details.estimate">Estimate</span>
            <span class="drsl-value" ng-show="case"><case-estimate hours="{{case.estimateHours}}"></case-estimate></span>
        </span>
        <div class="pull-right drsl-value"><span class="drsl-label" translate="case.details.requestedDate">Requested Delivery</span><span class="drsl-eta-date"> {{case.expectedCompletionDate | date:'MMM dd, yyyy'}}</span></div>
    </div>

    <!-- Cost / Actual Delivery Date -->
    <div ng-if="case.status.id >= 4">
        <span>
            <span class="drsl-label" translate="case.details.finalCost">Cost</span>
            <span class="drsl-value" ng-show="case"><case-estimate hours="{{case.timeOnCase}}" estimate="{{case.estimateHours}}"></case-estimate></span>
        </span>
        <div class="pull-right drsl-value drsl-delivered-date"><span class="drsl-label" translate="case.details.deliveredDate">Delivered</span><span class="drsl-eta-date"> {{case.dateLastUpdate | date:'MMM dd, yyyy'}}</span></div>
    </div>

    <!-- Timeline -->
    <div class="drsl-timeline">
        <div class="drsl-label">Timeline</div>
        <div class="drsl-timeline-icon-wrapper">
            <hr />

            <div class="drsl-timeline-icons">
                <div ng-class="{'drsl-timeline-item-done': passedStep($index)}" ng-repeat="status in statusOptions">
                    <div uib-popover-template="status.template" popover-trigger="none" popover-is-open="displayPopover(status.value)">
                        <span class="drsl-icon-sprites"></span>
                    </div>
                    <div class="drsl-timeline-text">{{status.label}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
