<div class="drsl-case-details">
    <!-- User Name -->
    <div style="display: flex; flex-flow: row;">
        <div style="flex: 1;"><span translate="case.details.user">User:</span> {{case.user}}</div>
        <div style="flex: 2; text-align: right;">
            <a style="margin-left:10px;"  ng-click="openDetails()" translate="case.details.viewDetails">view case details</a>
            <a style="margin-left:10px;" ng-show="!passedStep(1)" class="drsl-link-disabled" translate="case.details.chatRoom">chat with expert</as>
            <a style="margin-left:10px;" ng-show="passedStep(1)" ng-href="{{case.chatRoom.link}}" target="_blank" ng-class="{'drsl-link-disabled': !passedStep(1)}" translate="case.details.chatRoom">chat with expert</a>
            <a style="margin-left:10px;" ng-class="{'drsl-link-disabled': !passedStep(3), 'drsl-link-inactive': case.status == 'completed'}" ng-click="rate()" translate="case.details.rateCase">rate this case</a>
        </div>
    </div>

    <!-- Summary -->
    <div style="display: flex;flex-flow: row;">
        <div style="flex: inherit;margin-right: 5px;"><span translate="case.details.summary">Summary:</span></div>
        <div style="flex: inherit;">{{case.summary}}</div>
    </div>

    <!-- Status -->
    <div class="drsl-case-status-wrapper">
        <div>
            <span translate="case.details.status.main" ng-click="cycleStatus()">Current Status:</span>
            <span ng-show="case.status == 'created'">This case has been created and is currently being assigned to an expert.</span>
            <span ng-show="case.status == 'assigned'">An expert is currently investigating the issue.</span>
            <span ng-show="case.status == 'working'">&quot;Log file shows configuration errors. Testing new config...&quot;.</span>
            <span ng-show="case.status == 'resolved'">The expert has marked this issue as resolved.</span>
            <span ng-show="case.status == 'completed'">This issue is completed.</span>
        </div>
    </div>

    <!-- ETA to Resolution -->
    <div><span translate="case.details.resolutionETA">ETA to Resolution:</span> {{case.resolutionETA}}</div>

    <!-- Timeline -->
    <div class="drsl-timeline">
        <div>Timeline:</div>
        <div class="drsl-timeline-text" style="display: flex; flex-flow: row; align-items: center; text-align: center;margin-top: 20px;margin-bottom: 5px;">
            <div ng-class="{passed: passedStep($index)}" style="flex: 1;" ng-repeat="status in statusOptions">
                {{status.label}}
            </div>

        </div>
        <!--25, 50, 75, 100-->
        <div style="padding: 0 10% 0 10%;">
            <div style="background-color: #DBD9DA;width:100%;height:10px;">
                <div class="drsl-progress"
                     ng-class="{created: case.status == 'created',
                                assigned: case.status == 'assigned',
                                working: case.status == 'working',
                                resolved: case.status == 'resolved',
                                complete: case.status == 'completed'}"></div>
            </div>
        </div>
    </div>
</div>
