 <div class="drsl-case-view" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="drsl-case-wrapper">
                <!-- Main Header -->
                <div class="drsl-sub-header">
                    <div>
                        <span translate="case.header">Case Summary</span>
                        <span class="drsl-understated">ID: {{vm.currentCase.technology.name}} {{vm.currentCase.id}}</span>
                    </div>
                    <div></div>
                    <div>
                        <div class="btn-group" uib-dropdown is-open="status.isopen" ng-if="vm.currentCase.numberOfUpdates">
                            <a id="single-button" type="button" uib-dropdown-toggle ng-disabled="disabled">
                                <span ng-if="vm.currentCase.numberOfUpdates + vm.estimateLogs.length > 1">
                                    {{vm.currentCase.numberOfUpdates}} Updates
                                </span>
                                <span ng-if="vm.currentCase.numberOfUpdates + vm.estimateLogs.length < 2">
                                    {{vm.currentCase.numberOfUpdates}} Update
                                </span>
                                 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right updatesDropdown" uib-dropdown-menu role="menu" aria-labelledby="single-button" >
                                <table class="scroll">
                                    <tbody class="updatesTbody">
                                        <tr class="updatesTrow labelRow" ng-if="vm.updates.length" colspan="2">
                                            <td class="updatesTdata">Case Updates
                                                <span class="updateNumber">{{vm.updates.length}}</span>
                                            </td>
                                            <td class="updatesTdata"></td>
                                        </tr>
                                        <tr ng-repeat="update in vm.updates track by $index" class="updatesTrow" >
                                                <td class="updatesMessage">{{update.updateMsg}}</td>
                                                <td class="updatesDate">
                                                        {{update.dateUpdated  | date:'MMM dd, yyyy &nbsp h:mm a'}}
                                                </td>
                                        </tr>
                                        <tr class="updatesTrow labelRow" ng-if="vm.estimateLogs.length">
                                            <td class="updatesTdata" colspan="2">Estimate Logs
                                                <span class="updateNumber">
                                                    {{vm.estimateLogs.length}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="log in vm.estimateLogs track by $index" class="updatesTrow">
                                                <td class="logsTdata" colspan="2">{{log}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Action Bar -->
            <div class="drsl-action-bar">
                <i class="glyphicon glyphicon-menu-right"></i>
                <a ng-click="vm.openDetails()" uib-tooltip="view case details" translate="case.details.viewDetails">details</a>
                <a ng-click="vm.openShare()" uib-tooltip="{{vm.shareMessage}}" ng-class="{'drsl-link-disabled': !vm.isCreator}">share</a>
                <a ng-click="vm.openAttachment()" uib-tooltip="add an attachment">attach files</a>
                <a ng-show="vm.DrslMetadata.showCaseChat !== 0" ng-click="vm.openChat()" uib-tooltip="chat with expert" ng-class="{'drsl-link-disabled': !vm.passedStep(1)}" class="drsl-link-disabled" translate="case.details.chatRoom">chat</a>
                <a ui-sref="concierge" uib-tooltip="create a new case">new</a>
                <a class="alignRight" ng-click="vm.openEscalation()" ng-class="{'drsl-link-disabled': vm.passedStep(4)}">escalate or reassign this case</a>
            </div>

            <!-- Current Case -->
            <div class="drsl-current-case">
                <!-- Case Summary -->
                <div><case-summary case="vm.currentCase" expert="vm.experts[vm.currentCase.expert]" status="vm.status" passed-step="vm.passedStep"></case-summary></div>

                <!-- Case Professional -->

                <div ng-hide="vm.isCaseExpert()"><case-professional expert="vm.currentCase.expertaccount" case="vm.currentCase" expert-badges="vm.expertBadges" chat-room="vm.currentCase.chatRoom"></case-professional></div>

                <div ng-show="vm.isCaseExpert()"><case-professional-form expert="vm.currentCase.expertaccount" case="vm.currentCase"></case-professional-form></div>
            </div>
        </div>

        <!-- Case History -->
        <div class="drsl-case-wrapper">
            <!-- Header -->
            <div class="drsl-sub-header drsl-sub-sub-header" translate="case.history.header">Your Case History</div>

            <!-- Listing -->
            <div class="drsl-case-history-wrapper">
                <div class="panel panel-default" ng-repeat="case in vm.supportcases | orderBy:'-case.lastUpdated'">
                    <div class="panel-heading" ng-class="{active: vm.currentCase == case}" ng-click="vm.setCurrentCase(case);">
                        <h4 class="panel-title">
                            <div class="drsl-case-list">
                                <div>
                                    <span class="drsl-case-list-id">{{case.technology.name}} {{case.id}}</span>
                                    <span>{{case.dateCreated | date:'MMM dd, yyyy'}}</span>
                                </div>
                                <div ng-if="case.numberOfUpdates">
                                    <div>Updates: {{case.numberOfUpdates}}</div>
                                </div>
                                <div>
                                    <div>{{case.status.name}}</div>
                                </div>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
