<div class="drsl-case-expert-form">
    <form name="expertForm" ng-submit="submit()">
        <!-- Name -->
        <div>
            <span class="drsl-label">Expert</span>
            <span class="drsl-value">{{expert.user.firstName}} {{expert.user.lastName}}</span>
        </div>
        <!-- Desired Outcome-->
        <div class="drsl-label-value-row">
            <div><span  class="drsl-label" translate="case.professional.input.expertDesiredOutcome">Desired<br/>Outcome</span></div>
            <div><textarea class="form-control drsl-value" ng-model="case.expectedResult" ng-keydown="fieldTouched()" ng-attr-placeholder="{{'case.professional.input.desiredOutcome.placeholder' | translate}}" ng-disabled="case.isResolved" required></textarea></div>
        </div>

        <!-- Estimated # hours -->
        <div class="drsl-label-value-row">
            <div><span class="drsl-label" translate="case.professional.input.estimatedHours">Estimated<br/># hours</span></div>
            <div class="drsl-hours-date-wrapper">
                <!-- Hours -->
                <div class="drsl-expert-hours-wrapper">
                    <input name="estimateHours" class="form-control drsl-value" type="number" min="0" ng-model="localEstimateHours" ng-keydown="fieldTouched()" placeholder="{{'case.professional.input.estimatedHours.placeholder' | translate}}" ng-disabled="case.isResolved" required/>
                </div>
                <!-- Delivery Date -->
                <div class="drsl-expert-date-wrapper">
                    <!-- Label -->
                    <div class="drsl-label drsl-expert-date-label" translate="case.professional.input.deliverDate">
                        Requested Delivery
                    </div>
                    <!-- Date Picker -->
                    <div class="drsl-expert-date-controls" ng-click="fieldTouched(expertForm)">
                        <div class="drsl-date-widget-wrapper">
                            <span uib-datepicker-popup="{{format}}" ng-model="case.expectedCompletionDate" is-open="datePopup.opened" popup-placement="bottom-left" datepicker-options="dateOptions" show-button-bar="false" show-weeks="false"></span>
                        </div>
                        <div class="form-control drsl-value drsl-date-display-wrapper" ng-click="openDatePopup()" ng-disabled="case.isResolved">
                            <span>{{case.expectedCompletionDate | date:'MMM dd, yyyy'}}</span>
                        <span class="pull-right">
                            <i class="fa fa-calendar"></i>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Estimate Comment -->
        <div class="drsl-label-value-row">
            <div><span  class="drsl-label" translate="case.professional.input.estimateComment">Estimate<br/>Comment</span></div>
            <div><textarea class="form-control drsl-value" ng-model="case.estimateComment" ng-keydown="fieldTouched()" ng-attr-placeholder="{{'case.professional.input.estimateComment.placeholder' | translate}}" ng-disabled="case.isResolved" required></textarea></div>
        </div>

        <!-- Total Time on Case -->
        <div class="drsl-label-value-row">
            <div><span  class="drsl-label" translate="case.professional.input.timeOnCase">Total time<br/>on case</span></div>
            <div class="drsl-time-on-case"><input class="form-control drsl-value" type="number" ng-model="case.timeOnCase" min="0" max="{{maxHoursOnCase}}" ng-keydown="fieldTouched()" placeholder="{{'case.professional.input.timeOnCase.placeholder' | translate}}" ng-disabled="!case.isApproved || case.isResolved" drsl-enforce-min-max required/></div>
        </div>

        <!-- Resolved -->
        <div class="drsl-label-value-row drsl-case-resolved-wrapper">
            <div><span class="drsl-label" translate="case.professional.input.resolved">Finalize</span></div>
            <div class="drsl.value" ng-hide="case.isResolved || StatusModel.checkCaseStatus(case.status, 'working')"><span class="drsl-complete-lnk disabled" translate="case.professional.input.resolved.action"></span></div>
            <div class="drsl-value" ng-hide="case.isResolved || !StatusModel.checkCaseStatus(case.status, 'working')"><a translate="case.professional.input.resolved.action" ng-click="openCompleteCase($event);"></a></div>
            <div ng-show="case.isResolved"><span class="drsl-value" translate="case.professional.input.resolved.complete"></span></div>
            <div ng-show="case.isResolved" ng-click="openModal()"><span class="drsl-value">View Rating Details</span></div>
        </div>
        <!-- Last Update & Main Button -->
        <div>
            <div>
                <span class="drsl-label" translate="case.professional.input.lastUpdate">Last update/action </span>
                <span class="drsl-value"> {{case.dateLastUpdate | date:"MMM dd, yyyy h:mm a"}}</span>
            </div>
            <div><button type="submit" class="btn" ng-class="{'btn-success': !case.isResolved && !expertForm.$invalid, 'btn-disabled': case.isResolved || expertForm.$invalid}" translate="entity.action.update" ng-disabled="case.isResolved || expertForm.$invalid">update</button></div>
        </div>
    </form>
</div>
