/* ==========================================================================
Account Activation
========================================================================== */

.drsl-account-activation-view {
    .drsl-activate-page {
        background-color: $brand-color;
        border-color: $account-activation-main-border-color;
        color: $account-activation-text-color;
        height: 100%;
        font-weight: $default-weight;
        font-size: $account-activation-font-size;
        font-family: $main-font;
    }

    .drsl-activate-text {
        font-weight: $default-weight;
        padding: $default-half-padding;

        a {
            color: $account-activation-link-text-color;
        }
    }
}
