/* ==========================================================================
Account Settings
========================================================================== */

.drsl-account-settings {
    height: 1147px;
    .drsl-placeholder-label {
      position: relative;
      input {
        padding: 10px 95px 10px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        height: 32px;
        width: 532px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      }
      .unit { position: absolute;
        display: block;
        right: 8px;
        top: 7px;
        z-index: 1;
        color: #ac9999;
      }
      .select{
        // padding-top: 140px;
        padding-right: 10px;
      }
    }
    .drsl-expert-info-content{
        background: white;
        padding: 15px;
        // height: 363px;
        height: 100%;
        margin-bottom: 20px;
        display: inline-block;
        float: left;
        width: 564px;
    }
    .drsl-user-info-content{
        background: white;
        padding: 15px;
        height: 363px;
        margin-bottom: 20px;
        display: inline-block;
        float: left;
        width: 564px;
    }
    .drsl-payment-header{
        text-align: right;
        margin-right: 0;
        flex: 2;
    }
    .drsl-update-user-button{
        float: right;
        margin-right: 10px;
        margin-top: 70px;
    }
    .authorized-credit-card{
        span{
            font-size: 12px;
        }
        > span > img{
            width: 55px;
            width: 55px;
        }
    }
    .drsl-inline{
        display: inline-block;
    }
    .drsl-invalid{
        color: red;
        display: inline-block;
    }
    .drsl-card-number-quarter{
        width: 100px;
        display: inline-block;
    }
    .drsl-update-card-button{
        float: right;
        margin-top: 55px;
    }
    textarea{
        resize: none;
    }
    #contactMe {
        height: 50px;
    }
    #email{
        background: white; font-size: 13px;
    }
    .settingblock{
        background: white;
        float: left;
        display: inline-block !important;
    }
    .updating{
        border: 10px solid black;
    }
    .drsl-settings-wrapper {
        box-shadow: $content-box-shadow;
        margin-bottom: $default-padding;
        background-color: #FFFFFF;
    }
    // .drsl-panels {
    //     padding: 20px;
    // }

    .drsl-payment-content {
        // padding: 20px;
        // display: flex;
        display: inline-block;
        float: right;
        width: 588px;
        flex-flow: row;
        > div {
            height: 363px;
            flex: 1;

            &:first-child {
                // margin-right: $default-padding;
            }
        }
    }
    .drsl-expert-message-content {
        display: inline-block;
        float: right;
        width: 588px;
        flex-flow: row;
        > div {
            // height: 363px;
            flex: 1;
        }
        > div > div > button{
            float: right;
            margin-top: 46px;
        }
        > div > div > textarea, select{
            margin-bottom: 15px;
        }
    }
.expertTextareaLabel{
  font-weight: 600;
  color: #ac9999;
}
    .drsl-user-managment {
        width: 566px;
        height: 500px;
        float: left;
        display: inline-block;
        img {
          width: 34px;
          padding-left: 20px;
        }
        .panel-heading{
            padding-left: 10px;
            .control-label {
                padding-right: 10px;
            }
            .form-control{
                width: 375px;
                display: inline-block;
                padding-top: 5px;
            }
            .btn{
                margin-left: 8px;
            }
        }
        .drsl-user-add-form {
            > div {
                display: flex;
                flex-flow: row;

                > div {
                    flex: 1;

                    &:first-child {
                        flex: 3;
                        padding-right: 15px;
                    }
                }
            }
        }

        .drsl-user-list {
            display: flex;
            flex-flow: row;
            height: 180px;
            margin-top: 15px;

            &.empty {
                align-items: center;
                > div {
                    text-align: center;
                }
            }

            > div {
                flex: 1;
                color: #c0c0c0;
                padding: 5px;
                overflow: auto;
            }

            button {
                margin: 5px;
            }
        }
    }
    .drsl-active-user-managment {
        width: 586px;
        height: 500px;
        float: right;
        display: inline-block;
        img {
            width: 33px;
            padding-left: 20px;
        }
        .panel-heading{
            > div {
                font-size: 14px;
                height: 35px;
                padding-top: 7px;
            }
        }
        .drsl-user-add-form {
            > div {
                display: flex;
                flex-flow: row;

                > div {
                    flex: 1;

                    &:first-child {
                        flex: 3;
                        padding-right: 15px;
                    }
                }
            }
        }

        .drsl-user-list {
            display: flex;
            flex-flow: row;
            height: 180px;
            margin-top: 15px;

            &.empty {
                align-items: center;
                > div {
                    text-align: center;
                }
            }

            > div {
                flex: 1;
                color: #c0c0c0;
                padding: 5px;
                overflow: auto;
            }

            button {
                margin: 5px;
            }
        }
    }
}
