/* ==========================================================================
Account Settings
========================================================================== */

.drsl-account-settings {
    height: 1147px;

    table.drsl-settings-table-scroll {
        width: 535px;
    }

    table.drsl-settings-table-scroll tbody {
        display: block;
        height: 360px;
        overflow-y: auto;
        > tr > td {
            width: 100%;
        }
    }

    table.drsl-settings-table-scroll thead > tr {
        color: $drsl-label-color;
        display: block;
        position: relative;
        > th {
            width: 100%;
        }
    }
    .drsl-full-select {
        width: 531px;
    }

    .drsl-placeholder-label {
        position: relative;
        padding: 0;

        .drsl-already-activated-input {
            width: 1151px;
        }

        input {
            padding: 5px 105px 5px $default-half-padding;
            border: 1px solid $form-field-border-color;
            border-radius: 4px;
            height: 32px;
            // width: 532px;
            width: 540px;
            box-shadow: $custom-input-shadow;
        }
        input::-ms-clear {
            display: none;
        }
        .drsl-unit {
            position: absolute;
            display: block;
            right: 8px;
            top: 7px;
            z-index: 1;
            color: $custom-input-unit-color;
        }

        .drsl-select {
            padding-right: 30px;
        }
    }

    .drsl-expert-info-content {
        background: $background-color;
        padding: 15px;
        // height: 100%;
        height: 762px;
        margin-bottom: $default-padding;
        display: inline-block;
        float: left;
        width: 575px;
        // width: 564px;
    }

    .drsl-user-info-content {
        background: $background-color;
        padding: 15px;
        // height: 363px;
        height: 575px;
        max-height: 575px;
        margin-bottom: $default-padding;
        display: inline-block;
        float: left;
        width: 564px;
    }

    .drsl-is-already-activated {
        width: 1180px;
        background: $background-color;
        padding: 15px;
        height: 363px;
        margin-bottom: $default-padding;
        display: inline-block;
        float: left;
    }

    .drsl-payment-header {
        text-align: right;
        margin-right: 0;
        flex: 2;
    }

    .drsl-update-user-button {
        position: absolute;
        float: right;
        left: 490px;
        bottom: 30px;
    }

    .drsl-authorized-credit-card {
        span {
            font-size: $account-settings-authorized-credit-card-font-size;
        }

        > span > img {
            width: 55px;
        }
    }

    .drsl-inline {
        display: inline-block;
    }

    .drsl-invalid {
        color: $invalid-text-color;
        display: inline-block;
    }

    .drsl-card-number-quarter {
        width: 100px;
        display: inline-block;
    }

    .drsl-update-card-button {
        float: right;
        margin-top: 55px;
    }

    textarea {
        resize: none;
    }

    #email {
        background: $background-color;
        font-size: $account-settings-email-font-size;
    }

    .drsl-settings-wrapper {
        box-shadow: $content-box-shadow;
        margin-bottom: $default-padding;
        background-color: $background-color;
    }

    .drsl-payment-content {
        display: inline-block;
        float: right;
        width: 588px;
        flex-flow: row;

        > div {
            height: 363px;
            flex: 1;
        }
    }

    .drsl-expert-message-content {
        display: inline-block;
        float: right;
        // width: 527px;
        width: 575px;
        flex-flow: row;

        > div {
            height: 561px;
            flex: 1;
        }

        > div > div > button {
            // float: right;
            // margin-top: 90px;
        }

        > div > div > textarea, select {
            margin-bottom: 15px;
        }
    }

    .drsl-expert-textarea-label {
        font-weight: $medium-weight;
        color: $custom-input-unit-color;
    }

    .drsl-already-activated-input {
        width: 1151px;
    }

    .drsl-user-managment {
        width: 566px;
        height: 500px;
        float: left;
        display: inline-block;

        img {
            width: 34px;
            padding-left: $default-padding;
        }

        .panel-heading {
            padding-left: $default-half-padding;

            .control-label {
                padding-right: $default-half-padding;
            }

            .form-control {
                width: 375px;
                display: inline-block;
                padding-top: 5px;
            }

            .btn {
                margin-left: $default-half-padding;
                margin-bottom: 1px;
            }
        }

        .drsl-user-add-form {
            > div {
                display: flex;
                flex-flow: row;

                > div {
                    flex: 1;

                    &:first-child {
                        flex: 3;
                        padding-right: 15px;
                    }
                }
            }
        }

        .drsl-user-list {
            display: flex;
            flex-flow: row;
            height: 180px;
            margin-top: 15px;

            &.empty {
                align-items: center;
                > div {
                    text-align: center;
                }
            }

            > div {
                flex: 1;
                color: $inactive-text-color;
                padding: 5px;
                overflow: auto;
            }

            button {
                margin: 5px;
            }
        }
    }
    .drsl-active-user-managment {
        width: 586px;
        height: 500px;
        float: right;
        display: inline-block;

        img {
            width: 33px;
            padding-left: $default-padding;
        }

        .panel-heading {
            > div {
                font-size: $default-font-size;
                height: 35px;
                padding-top: 7px;
            }
        }
        .drsl-user-add-form {
            > div {
                display: flex;
                flex-flow: row;

                > div {
                    flex: 1;

                    &:first-child {
                        flex: 3;
                        padding-right: 15px;
                    }
                }
            }
        }

        .drsl-user-list {
            display: flex;
            flex-flow: row;
            height: 180px;
            margin-top: 15px;

            &.empty {
                align-items: center;

                > div {
                    text-align: center;
                }
            }

            > div {
                flex: 1;
                color: $inactive-text-color;
                padding: 5px;
                overflow: auto;
            }

            button {
                margin: 5px;
            }
        }
    }

    .drsl-two-inputs {
        div:first-child {
            display: inline-block;
            > div {
                margin-right: 7px;
                > input {
                    width: 260px;
                }
            }
        }

        div:last-child {
            display: inline-block;
            > div {
                > input {
                    width: 263px;
                }
            }
        }
    }

    .drsl-two-items {
        div:first-child {
            float: left;
            width: 49%;
            margin-bottom: 25px;
        }

        div:last-child {
            float: right;
            width: 49%;
            margin-bottom: 25px;
        }
    }

    .drsl-extra-info {
        label {
            font-weight: $default-weight;
        }

        div {
            > div:first-child {
                width: 245px;
                display: inline-block;
            }

            > div:last-child {
                padding-left: $default-padding;
                width: 285px;
                display: inline-block;
            }

            > div {
                .drsl-visibility {
                    padding-left: 0;
                    width: 288px;

                    .privacySelect {
                        margin-left: $default-half-padding;
                        width: 154px;
                        height: 50%;
                        display: inline-block;
                    }

                    .drsl-profile-visibility-label {
                        font-weight: $default-weight;
                    }
                }
            }
        }
    }

    input.drsl-highlight-field, select.drsl-highlight-field, textarea.drsl-highlight-field {
        border-color: $brand-color;
    }
}
