/* ==========================================================================
Account Password
========================================================================== */

.drsl-account-password-view {
    .drsl-magic-password-box {
        border: 1px solid $account-password-box-border-color;
        box-shadow: $account-password-box-shadow;
        background: $account-password-box-background-color;

        input {
            background: $content-container-color;
        }

        .drsl-go-left {
            float: left;
        }

        .drsl-go-right {
            float: right;
        }

        h2, b {
            font-weight: $default-weight;
            font-size: $large-font-size;
        }
    }
    .drsl-request-reset-button {
        float: right;
        margin-bottom: 20px;
    }
}
