/* ==========================================================================
Case Updates
========================================================================== */

.drsl-case-updates {
    .updatesDropdown{
        width: 560px;
        background: rgba(255, 255, 255, 0.9);
        color: black;
        margin-top: 20px;
        border-radius: 0px;
        max-height: 540px;
        z-index: 1100;
    }
    .updatesTbody{
        height: 100% !important;
        max-height: 540px;
        width: 557px;
    }
    .updatesTrow{
        border-bottom: 1px solid black;
    }
    .labelRow{
        background: #E6E6E6;
    }
    .updatesTdata{
        padding: 10px;
        font-weight: normal;
        text-transform: none;
        width: 700px;
    }
    .updatesMessage{
        padding: 10px;
        font-weight: normal;
        text-transform: none;
        width: 700px;
        min-width: 299px;
    }
    .updatesDate{
        float: right;
        padding: 10px;
        font-weight: normal;
        text-transform: none;
    }
    .updateNumber{
        color: black !important;
        font-weight: 700;
    }
    .logsTdata{
        padding: 10px;
        font-weight: normal;
        text-transform: none;
        width: 300px;
    }
}
