/* ==========================================================================
Case Summary
========================================================================== */

.drsl-case-summary {
    > div {
        padding: $default-padding;
        border-bottom: 2px solid $horizontal-separator-color;

        &:last-child {
            border: 0;
        }
    }

    .drsl-label {
        margin-right: $horizontal-space-between-elements;
    }

    .drsl-timeline {
        color: $inactive-text-color;

        hr {
            border: 0;
            height: 2px;
            background: $horizontal-separator-color;
            position: absolute;
            top: 40%;
            width: 100%;
            margin: 0;
        }

        .drsl-icon-sprites {
            background-position: -65px 0;
        }

        .drsl-timeline-icon-wrapper {
            margin-top: $default-half-padding;
            margin-left: -$default-padding;
            margin-right: -$default-padding;
            position: relative;

            .drsl-timeline-icons {
                display: flex;
                flex-flow: row;
                text-align: center;

                > div {
                    flex: 1;
                }
            }
        }

        .drsl-timeline-item-done {
            .drsl-timeline-text {
                color: $default-text-color;
                font-weight: $medium-weight;
            }

            .drsl-icon-sprites {
                background-position: -4px 0;
            }
        }

        .drsl-timeline-icons {
            .popover {
                max-width: 350px;
            }
        }
    }
    .drsl-eta-hour {
        min-width: 87px;
        display: inline-block;
    }
    .drsl-eta-date {
        min-width: 75px;
        display: inline-block;
    }
    .drsl-delivered-date {
        padding-right: 65px;
    }
    .drsl-detail-attachment-wrapper .drsl-attachment-items-wrapper {
        width: 903px;
    }

    .drsl-detail-attachment-wrapper.drsl-no-attachments {
        visibility: hidden;
    }

    .drsl-case-status-wrapper {
        > div {
            position: relative;
        }

        .drsl-summary-attachment-wrapper {
            position: absolute;
            top: -7px;
            right: 0;
        }
    }
}
