/* ==========================================================================
Cases
========================================================================== */

.drsl-case-view {
    .drsl-case-wrapper {
        box-shadow: $content-box-shadow;
        margin-bottom: $default-padding;
    }

    .drsl-sub-sub-header {
        text-transform: uppercase;
    }

    .drsl-current-case {
        display: flex;
        flex-flow: row;
        min-height: 450px;

        > div {
            flex: 1;
            background-color: $content-background-color;

            &:first-child {
                margin-right: $default-padding;
            }
        }

        .drsl-expert-no-case-message {
            padding: $default-padding;
            text-align: center;

            h3 {
                font-size: $case-summary-expert-no-case-message-header-font-size;
                font-weight: $thin-weight;
                color: $case-summary-expert-no-case-message-header-text-color;
                margin-bottom: $default-double-padding;
            }

            .drsl-expert-no-case-message-body {
                p {
                    font-size: $case-summary-expert-no-case-message-body-font-size;
                    font-weight: $thin-weight;
                    max-width: 438px;
                    margin: auto;
                    color: $case-summary-expert-no-case-message-body-text-color;

                    &:first-child {
                        margin: auto auto $default-double-padding;
                    }
                }
            }
        }
    }

    .drsl-sub-header > div {
        flex: 2;

        span {
            margin-right: $default-half-padding;
        }

        &:last-child {
            flex: 1;
            text-align: right;
            color: $inverted-heading-right-text-color;

            span {
                margin-right: 0;

                &.caret {
                    color: $inverted-heading-text-color;
                }
            }
        }
    }

    .drsl-label-value-row {
        display: flex;
        flex-flow: row;

        > div {
            flex: auto;

            &:first-child {
                flex: inherit;
                margin-right: 5px;
            }

            .drsl-scrolling-container {
                width: 450px;
                height: 81px;
            }
        }
    }
    .drsl-hipchat-section {
        > ul {
            list-style-type: none;
            > li {
                font-weight: normal;
                height: 50px;
            }
        }
        input {
            display: inline-block;
            width: 75%;
        }
        select {
            display: inline-block;
            width: 19%;
        }
        button {
            display: inline-block;
        }
    }
    .drsl-hipchat-name {
        color: #4a6785;
        font-weight: bold;
    }
    .drsl-hipchat-date {
        font-size: 12px;
        color: #999999;
    }
    .drsl-hipchat-you {
        background: #e0eaf3;
    }
    .drsl-hipchat-message-list {
        list-style-type: none;
        padding-left: 0px;
        min-height: 10px;
    }
    .drsl-hipchat-message {
        min-height: 50px;
        height: 100%;
        margin: 1px;
    }
    .drsl-unit {
        position: absolute;
        display: block;
        left: 14px;
        top: 17px;
        z-index: 1;
        color: $custom-input-unit-color;
    }
    .drsl-hipchat-message-scroller {
        overflow-y: scroll;
        max-height: 400px;
    }
    .drsl-hipchat-messages-wrapper {
        padding: $default-padding;
        max-height: 470px;
        background-color: $content-background-color;

        .panel-default {
            cursor: pointer;
            margin-bottom: 5px;

            > .panel-heading {
                &.active {
                    background-color: $brand-color;
                    color: $inverted-heading-text-color;
                }

                .drsl-case-list {
                    display: flex;
                    flex-flow: row;

                    > div {
                        &:first-child {
                            flex: 3;
                            margin-right: $default-half-padding;
                        }

                        &:last-child {
                            flex: 1;
                            text-align: right
                        }
                    }

                    .drsl-case-list-id {
                        display: inline-block;
                        width: 200px;
                    }
                }
            }
        }
    }
    .drsl-hipchat-message-image-thumbnail{
        width: 100px;
    }
}
