/* ==========================================================================
Case Complete
========================================================================== */

.drsl-case-complete-view {
    .drsl-dialog-content {
        > div, > p {
            margin-bottom: $default-padding;
        }

        > div {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .form-control {
        border-radius: 0;
    }

    .close-case-btn-wrapper {
        text-align: center;
        margin-top: $default-padding;

        button {
            background: transparent;
            border: 0;
        }

        img {
            width: $case-complete-close-case-button-dimensions;
            height: auto;
        }
    }
}
