/* ==========================================================================
Case Rating
========================================================================== */

.drsl-case-rating-view {
    .drsl-dialog-content {
        .drsl-scrolling-container {
            margin-bottom: 25px;
            min-height: 80px;
        }
        .drsl-resolution-scrolling-container {
            white-space: pre-line;
            max-height: 105px;
            overflow-y: scroll;
        }

        .drsl-rating-row {
            display: flex;
            flex-flow: row;
            align-items: center;
            margin-bottom: $default-double-padding;

            &:first-child {
                align-items: flex-end;
                margin-bottom: $default-double-padding;
            }

            &:last-child {
                align-items: center;
                margin-bottom: 0;
            }

            > div {
                &:first-child {
                    flex: 1;
                    text-align: center;
                    margin-left: -$default-padding;

                    h3 {
                        padding-top: 5px;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }

                    img {
                        max-width: 100px;
                    }
                }
                &:last-child {
                    flex: 4;
                }
            }

            &.drsl-rating-radios {
                > div:first-child {
                    margin-top: 42px;
                }
            }

            &.drsl-rating-reward {
                > div:first-child {
                    margin-bottom: $default-padding;
                }

                .drsl-scrolling-container {
                    > div {
                        display: flex;
                        flex-flow: row;
                        align-items: center;

                        > div {
                            flex: auto;

                            &:first-child {
                                padding: $default-half-padding;
                                max-width: 85px;
                            }
                        }
                    }
                }
            }
        }

        textarea {
            border-radius: 0;
        }
    }

    .drsl-rating-section {
        margin-bottom: 0;

        h3 {
            padding-bottom: 5px;
            margin-bottom: 0;

            span {
                font-size: $default-font-size;
                color: $inactive-text-color;
            }
        }

        .drsl-scrolling-container {
            margin-bottom: 0;
        }

    }

    .drsl-rating-grid {
        display: flex;
        flex-flow: row;
        text-align: center;

        .drsl-rating-grid-label {
            flex: 1;
            h3 {
                text-align: left;
            }
        }

        .drsl-rating-grid-values {
            flex: 3;

            .drsl-rating-grid-values-header {
                display: flex;
                flex-flow: row;
                margin: 0;
                font-weight: $default-weight;

                div {
                    flex: 1;
                }
            }
        }
    }

    .drsl-linear-radio {
        margin-bottom: $default-padding;
        height: auto;

        .drsl-radio-desc {
            display: none;
        }

        .drsl-radio-item {
            font-size: $default-font-size;
        }

        .drsl-radio-set {
            overflow: hidden;
            max-width: none;

            label span:first-child {
                display: none;
            }
        }
    }

    .drsl-badge-sprites {
        cursor: pointer;
    }
}
