/* ==========================================================================
Case Expert (seen by user)
========================================================================== */

.drsl-case-expert {
    position: relative;

    > div {
        padding: $default-padding;
        border-bottom: 2px solid $horizontal-separator-color;

        &:last-child {
            border: 0;
        }
    }

    .drsl-label {
        margin-right: $horizontal-space-between-elements;
    }

    .drsl-profile-photo {
        position: absolute;
        top: $default-half-padding;
        right: 0;
        background-color: $content-background-color;
        border: 0;

        img {
            box-shadow: $custom-button-shadow;
            border: 5px solid $photo-border-color;
            border-radius: 50%;
            width: $case-summary-profile-photo-dimensions;
            height: $case-summary-profile-photo-dimensions;
        }

        .drsl-profile-score {
            text-align: center;
            margin-top: $default-padding;
        }

        .drsl-expert-msg {
            min-width: 205px;
            min-height: 98px;
            position: absolute;
            right: 5px;
            top: 200px;
            .popover {
                max-width: 205px;
            }
            .popover-content {
                @extend .drsl-value;
                text-align: center;
            }
        }
    }

    .drsl-badges {
        padding-top: $default-half-padding;

        > div > span:first-child {
            margin-left: -10px;
        }
    }

    .drsl-label-value-row > div .drsl-scrolling-container {
        width: 272px;
    }

    .drsl-contact-wrapper {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        min-height: 122px;

        > div {
            flex: inherit;
            padding-right: $default-half-padding;

            i {
                font-size: $medium-font-size;
                margin-right: $horizontal-space-between-elements;
            }
        }
    }

    .drsl-locale-wrapper {
        display: flex;
        flex-flow: row;

        > div {
            flex: 1;
        }
    }
}
