/* ==========================================================================
Case Details
========================================================================== */

.drsl-case-details-view {
    textarea {
        resize: none;
    }

    .drsl-header-status {
        text-transform: uppercase;
    }

    .drsl-dialog-content {
        padding: $default-padding;
    }

    .drsl-tech-props {
        margin-left: 35px;
        width: 240px;
        display: inline-block;
    }
    .drsl-estimate-log-list{
        white-space: pre-line;
    }
    .drsl-case-props {
        margin-left: 96px;
        width: 298px;
        display: inline-block;
    }

    .drsl-detail-attachment-wrapper {
        display: block;

        .drsl-main-attachment-btns {
            .drsl-main-done-btn, .drsl-main-later-btn {
                display: none;
            }
        }
    }

    .drsl-update-history-box {
        width: 688px;
    }

    .drsl-date-header {
        position: relative;
        left: 438%;
    }

    .drsl-user-header {
        position: absolute;
        right: 5%;
    }

    .drsl-update-trow {
        @extend .drsl-value;
    }

    .drsl-update-message-tdata {
        display: table;
        min-width: 243px;
        width: 455px;
        max-width: 435px;
        max-height: 200px;
        white-space: pre-line;
    }

    .drsl-update-date-tdata {
        width: 120px;
        white-space: nowrap;
    }

    .drsl-update-user-tdata {
        width: 145px;
        word-break: break-all;
        padding-left: 35px;
    }

    .drsl-details-user-view {
        text-align: right;
    }

    .drsl-estimate-log-list {
        overflow-y: auto;
        height: 124px;
        ol {
            padding-left: 0;
        }
        li:nth-child(odd) {
            background: $row-highlight-color;
        }
        li {
            list-style: none;
        }
    }
    .drsl-expert-edit-resolution {
        padding: 0px;
        > textarea {
            padding-top: 5px;
        }
    }
    .drsl-view-resolution {
        width: 668px;
        border: 1px solid $empty-box-border-color;
        padding: 5px 0 0 $default-half-padding;
        font-weight: $default-weight;
        white-space: pre;
        max-height: 102px;
        overflow-y: scroll;
    }
    .drsl-no-updates {
        width: 668px;
        height: 114px;
        border: 1px solid $empty-box-border-color;

        div {
            padding: 5px 0 0 $default-half-padding;
            font-weight: $default-weight;
            color: $inactive-text-color;
        }
    }
}
