/* ==========================================================================
Case Complete
========================================================================== */

.drsl-case-complete-view {
    .drsl-dialog-content {
        > div, > p {
            margin-bottom: 20px;
        }

        > div {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .form-control {
        border-radius: 0;
    }

    .close-case-btn-wrapper {
        text-align: center;
        margin-top: 20px;

        button {
            background: transparent;
            border: 0;
        }

        img {
            width: 100px;
            height: auto;
        }
    }
}
