/* ==========================================================================
Cases
========================================================================== */

.drsl-case-view {
    .drsl-case-wrapper {
        box-shadow: $content-box-shadow;
        margin-bottom: $default-padding;
    }

    .drsl-sub-sub-header {
        text-transform: uppercase;
    }

    .drsl-current-case {
        display: flex;
        flex-flow: row;
        min-height: 450px;

        > div {
            flex: 1;
            background-color: $content-background-color;

            &:first-child {
                margin-right: $default-padding;
            }
        }
    }

    .drsl-panels {
        background-color: $content-background-color;

        .panel.drsl-panel {
            border-radius: 0;
            margin-bottom: 0;
            border: 0;

            > .panel-heading {
                border-radius: 0;
                border: 0;
                background-color: $brand-color;
                color: $inverted-heading-text-color;

                h3 {
                    font-weight: $thin-weight;
                }
            }
        }
    }

    .drsl-sub-header div {
        flex: 2;
        span {
            margin-right: $default-half-padding;
        }

        &:last-child {
            flex: 1;
            text-align: right;
            color: $inverted-heading-right-text-color;

            span {
                margin-right: 0;
                &:last-child {
                    color: $inverted-heading-text-color;
                }
            }
        }
    }

    .drsl-sub-panel {
        margin-bottom: $default-half-padding;

        .panel-body span {
            padding-right: $default-half-padding;
        }
    }

    .drsl-case-separator {
        background-color: $brand-color;
        height: $default-half-padding;
    }

    .drsl-case-status-wrapper {
        > div {
            position: relative;
        }

        .drsl-summary-attachment-wrapper {
            position: absolute;
            top: -7px;
            right: 0px;
        }
    }

    .drsl-label-value-row {
        display: flex;
        flex-flow: row;

        > div {
            flex: auto;

            &:first-child {
                flex: inherit;
                margin-right: 5px;
            }

            .drsl-scrolling-container {
                width: 450px;
                height: 81px;
            }
        }
    }

    .alignRight{
        float: right;
    }
}


.drsl-radio-set {
    max-width: 400px;
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-flow: row;
    z-index: 1;
}

input[type="radio"] + label span:last-child, input[type="checkbox"] + label span:last-child {
    display: inline-block;
    width: 17px;
    height: 17px;
    cursor: pointer;
    background-color: $content-background-color;
    border: 3px solid $custom-radio-border-color;
    border-radius: 50%;
    margin-top: 5px;
}

.request {
    margin-left: $content-padding-side;
    margin-right: 50$content-padding-side;
}

