/* ==========================================================================
Concierge
========================================================================== */

.drsl-concierge-wrapper {
    background-color: $background-color;
    padding: $default-padding;
    min-height: $concierge-min-height;
    display: flex;
    flex-flow: row;

    > div {
        flex: 1;
    }

    .drsl-product-details-wrapper {
        position: absolute;
        bottom: -50px;
        left: $default-padding;
        min-height: 70px;
        white-space: nowrap;

        .btn-group {
            margin-right: 5px;
            margin-bottom: 5px;
            &:last-child {
                margin-right: 0;
                .dropdown-menu {
                    left: initial;
                    right: 0;
                }
            }

            .btn {
                width: 106px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
                font-size: $default-font-size - 2;

                span {
                    opacity: .7;
                }

                .caret {
                    opacity: .5;
                    position: absolute;
                    top: 45%;
                    left: initial;
                    right: 5px;
                }

                &.selected {
                    span {
                        opacity: 1;
                    }

                    .caret {
                        display: none;
                    }
                }

                &.detailButton {
                    float: right;
                    margin: 5px;
                    width: 70px;
                    text-align: center;
                }
            }

            textarea {
                width: 300px;
                height: 125px;
            }
        }
    }

    .input-group .drsl-summary-field {
        border-radius: 4px;
    }

    .dropdown-menu {
        li.selected {
            background: $tech-details-dropdown-selection-background-color;
        }
    }

    .drsl-menuitem-field-type {
        padding-left: 5px;
        padding-right: 5px;
    }

    .drsl-radio-desc {
        display: none;
    }

    .drsl-linear-radio-wrapper {
        position: relative;

        .drsl-linear-radio {
            margin-top: $default-padding;

            &:first-child {
                margin-top: $default-half-padding;
                margin-bottom: $default-double-padding;
            }

            .drsl-radio-set {
                overflow: visible;
                max-width: none;
            }

            .drsl-radio-item {
                font-size: $default-font-size;
            }
        }
    }

    .drsl-field-seciton {
        margin-left: $default-padding;
        margin-top: 80px;

        .input-group-btn {
            padding-left: 5px;
        }
    }

    .drsl-one-two-three-lg {
        position: relative;
        left: $default-padding;
        min-width: 485px;
        min-height: 488px;

        .drsl-one-two-three-img {
            width: 485px;
        }

        > div {
            > div {
                position: absolute;
                left: 24%;
                font-size: $large-font-size;
                font-weight: $thin-weight;

                &:first-child {
                    top: 9%;
                }

                &:nth-child(2) {
                    top: 38%;
                }

                &:nth-child(3) {
                    top: 68%;
                }

                &:nth-child(4) {
                    margin-left: -12px;
                    padding: 12px;
                    background-color: $background-color;
                    top: 92%;

                    .drsl-date-picker-btn {
                        margin-top: -5px;
                        margin-right: -10px;
                    }

                    .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
                        color: $date-picker-selected-day-text-color;
                        background-color: $brand-color;
                        border-color: $brand-color;
                    }

                    .uib-title {
                        strong {
                            @extend .drsl-label;
                            font-weight: $thin-weight;
                            font-size: $date-picker-month-font-size;
                        }
                    }

                    .drsl-date-widget-wrapper {
                        position: absolute;
                        bottom: -110px;
                        left: 10px;

                        .uib-datepicker {
                            padding: $default-half-padding;
                        }
                    }

                    .drsl-date-display-wrapper {
                        width: 280px;
                        background: $background-color;

                        span {
                            font-weight: $default-weight;
                        }

                        .drsl-date-display-label {
                            margin-right: 5px;
                        }
                    }
                }

                &:last-child {
                    position: absolute;
                    top: 86%;
                    left: 86%;
                }

                &.uib-datepicker {
                    position: relative;
                    top: initial;
                    left: initial;
                }
            }
        }

        .drsl-custom-button {
            width: $concierge-go-button-dimensions;
            height: $concierge-go-button-dimensions;
            padding: 0;

            &:focus {
                outline: 0;
            }

            img {
                width: 107%;
                position: relative;
                top: -5px;
                left: -5px;
            }
        }

        .drsl-step-go-dots {
            position: absolute;
            top: 44px;
            left: 42px;
        }

        .drsl-step-go-text {
            position: absolute;
            min-width: 350px;
            top: $default-padding;
            left: 230px;
            background-color: $background-color;
            padding: $default-half-padding;
        }
    }
}

.drsl-case-intake-view {
    .drsl-sub-header {
        > div:first-child {
            flex: 1;
        }

        > div:last-child {
            flex: 1;
        }

        .drsl-chat-with-expert {
            font-weight: 100;
            text-transform: none;
            color: $inverted-heading-text-color;
        }

        .drsl-concierge-chat-button {
            background: $drsl-concierge-chat-button-color;
            border: $drsl-concierge-chat-button-color;
            color: $custom-button-text-color;
        }
    }
}
