/* ==========================================================================
Concierge
========================================================================== */

.drsl-concierge-wrapper {
    background-color: #FFFFFF;
    padding: 20px;
    min-height: 625px;
    display: flex;
    flex-flow: row;

    > div {
        flex: 1;
    }

    .drsl-chat-wrapper {
        flex: auto;
        max-width: 652px;
        max-height: 723px;
        background-color: $content-background-color;
        box-shadow: $content-box-shadow;

        .drsl-sub-header div {
            flex: 1;
            &:last-child {
                text-align: right;
                color: $inverted-heading-right-text-color;
            }
        }

        .drsl-chat-login-wrapper {
            width: 652px;
            position: relative;
            top: 100px;
            left: 130px;

            .drsl-chat-login {
                width: 300px;
                // margin: auto;

                .panel-body .form-group:last-child {
                    text-align: right;
                    margin-bottom: 0;
                }
            }
        }

    }
    .fiftyLeft{
        margin-left: 50px;
    }
    .fourtyLeft{
        margin-left: 40px;
    }
    .drsl-chat-body {
        padding: $default-padding;
    }

    .drsl-case-details-wrapper {
        flex: auto;
        height: auto;
        // height: 642px;
        background-color: $content-background-color;
        box-shadow: $content-box-shadow;
        width: 590px;
        max-width: 590px;
        margin-right: 20px;
        .drsl-field-seciton {
            display: flex;
            flex-flow: row;
            align-items: center;
            text-align: center;
            margin-bottom: 30px;

            .drsl-field-label {
                color: #5F5B5C;
                flex: 1;
                margin-right: $default-half-padding;
                text-align: left;
            }

            .drsl-field-sub-label {
                font-size: $tiny-font-size;
            }

            .drsl-field-input {
                position: relative;
                flex: 3;
            }
        }

        .drsl-file-upload {
            .drsl-field-label {
                flex: 2;
            }

            .drsl-field-input {
                flex: 3;
                padding: 5px;
            }
        }

        .drsl-product-details-wrapper {

            margin-bottom: $default-double-padding;

            > h4 {
                margin-top: 0
            }

            .drsl-product-detail-selections {
                margin-left: $default-padding;
                margin-bottom: 4px;
            }

            .accordion-toggle i.pull-right {
                color: $brand-color;
            }

            .drsl-product-header-selection {
                font-weight: $thin-weight;
                color: $brand-color;
            }

            .drsl-product-detail-input {
                margin-bottom: 4px;

                input[type="text"].form-control {
                    display: inline-block;
                    width: 150px;
                    margin-right: 5px;
                }
            }
        }

    }

    .drsl-product-details-wrapper {
        position: absolute;
        bottom: -50px;
        left: 20px;
        min-height: 70px;
        white-space: nowrap;

        .btn-group {
            margin-right: 5px;
            margin-bottom: 5px;
            &:last-child {
                margin-right: 0;
                .dropdown-menu {
                    left: initial;
                    right: 0;
                }
            }

            .btn {
                width: 106px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
                font-size: $default-font-size - 2;

                span {
                    opacity: .7;
                }

                .caret {
                    opacity: .5;
                    position: absolute;
                    top: 45%;
                    left: initial;
                    right: 5px;
                }

                &.selected {
                    span {
                        opacity: 1;
                    }

                    .caret {
                        display: none;
                    }
                }

                &.detailButton {
                    float: right;
                    margin: 5px; width: 70px;
                    text-align: center;
                }
            }

            textarea {
                width: 300px;
                height: 125px;
            }
        }
    }

    .dropdown-menu {
        li.selected {
            background: #f5f5f5;
        }
    }

    .drsl-menuitem-field-type {
        padding-left: 5px;
        padding-right: 5px;
    }

    .drsl-radio-desc {
        display: none;
    }

    .drsl-linear-radio-wrapper {
        position: relative;

        .drsl-linear-radio {
            margin-top:20px;

            &:first-child {
                margin-top:10px;
                margin-bottom: 40px;
            }

            .drsl-radio-set {
                overflow: visible;
                max-width: none;
            }

            .drsl-radio-item {
                font-size: $default-font-size;
            }
        }
    }

    .drsl-field-seciton {
        margin-left: 20px;
        margin-top: 80px;
    }

    .drsl-one-two-three-lg {
        position: relative;
        left: 20px;
        min-width: 485px;
        min-height: 488px;

        .drsl-one-two-three-img {
            width: 485px;
        }

        > div {
            > div {
                position: absolute;
                left: 24%;
                font-size: 20px;
                font-weight: 200;

                &:first-child {
                    top: 9%;
                }

                &:nth-child(2) {
                    top: 38%;
                }

                &:nth-child(3) {
                    top: 68%;
                }

                &:nth-child(4) {
                    margin-left: -12px;
                    padding: 12px;
                    background-color: #FFFFFF;
                    top: 92%;

                    .drsl-date-picker-btn {
                        margin-top: -5px;
                        margin-right: -10px;
                    }

                    .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
                        color: #fff;
                        background-color: $brand-color;
                        border-color: $brand-color;
                    }

                    .uib-title {
                        strong {
                            @extend .drsl-label;
                            font-weight: $thin-weight;
                            font-size: 18px;
                        }
                    }

                    .drsl-date-widget-wrapper {
                        position: absolute;
                        bottom: -90px;
                        left: 20px;
                    }

                    .drsl-date-display-wrapper {
                        width: 280px;
                        background: #FFFFFF;

                        span {
                            font-weight: $default-weight;
                        }

                        .drsl-date-display-label {
                            margin-right: 5px;
                        }
                    }
                }

                &:last-child {
                    position: absolute;
                    top: 86%;
                    left: 86%;
                }

                &.uib-datepicker {
                    position: relative;
                    top: initial;
                    left: initial;
                }
            }
        }

        .drsl-custom-button {
            width: 125px;
            height: 125px;
            padding: 0;

            &:focus {
                outline: 0;
            }

            img {
                width: 107%;
                position: relative;
                top: -5px;
                left: -5px;
            }
        }
    }
}
.chatrooms{
    margin-top: 100px;
}
.chatroom{
    border: none;
    width: 5px !important;
    // width: 570px;
    max-width: 570px;
    min-width: 570px;
}

.btn-different{
    background-color: #F48B3D;
    color: white;
    margin-right: 10px;
    height: 34px;
}
.chatAccord{
    width: 570px;
     margin-left: 300px;
}
.chat {
    min-height: 150px;
    max-height: 150px;
    overflow-y: scroll;
    height: 500px;

    .name {
        color: #333;
        font-weight: bold;
        // color: #B4001D;
    }

    .name::after {
        // content: ': ';
    }

    .text {
        color: #333333;
        // color: #3B00B2;
    }

    .phrase:last-child {
        margin-bottom: 0;
    }
    .phrase{
        border-bottom: 0.5px solid #EEEEEE;
        margin-left: 10px;
    }
}
.glyphicon-chevron-left, .glyphicon-chevron-right{
    color: $brand-color;
    font-size: 25px;
}
.drsl-case-body{
    // text-align: center;
    width: 580px;
    margin-left: 20px;
    // margin-right: 20px;
    > div {
        padding: 20px;
        // border-bottom: 2px solid #E2E2E2;

        &:last-child {
            border: 0;
        }
    }
}
.chat-section{
    width: 570px;
    height: 642px;
}
.drsl-sub-header, .drsl-action-bar{
    width: 1180px;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}
.havle{
    width: 590px;
}
.bgimg{
    float: left;
    margin-left: 0px;
    width: 570px;
    height: 642px;
}
.margin{
    margin-right: 20px;
}
.slide{
    // -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    // -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    // -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
}
#sel1{
    height: 50%;
    text-align: center;
}
.chatBody{
    width: 620px !important;
}
.plan{
    background: rgb(53, 48, 45);
    background: linear-gradient(to right, rgba(60, 51, 52, 1), 90%, rgba(0,0,0,0));
    font-size: 20px;
    color: white;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    vertical-align: middle;
    height: 75px;
}
.selectedPlan{
    background: linear-gradient(to right, rgba(60, 51, 52, 1), rgba(0,0,0,0));
    font-size: 20px;
    color: #F48B3D;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
}
.plan:hover{
    color: #F48B3D;
}
.tierTitle{
    margin-top: 15px;
    display: inline-block;
}
.tierContent{
    margin-left: 15px;
    display: inline-block;
}
