/* ==========================================================================
Landing Page
========================================================================== */
.drsl-home-view {
    min-height: initial;
    position: relative;
    min-height: $home-view-min-height;

    &:before {
        content: '';
        display: none;
    }

    .drsl-home-title {
        font-size: $home-title-font-size;
        font-weight: $home-main-header-weight;
        text-decoration: none;
        color: $home-main-header-text-color;
    }

    .drsl-home-connect-button {
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        width: $home-connect-button-dimensions;
        height: $home-connect-button-dimensions;
    }

    .drsl-home-connect-button:hover {
        box-shadow: $home-connect-button-shadow;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
    }

    .drsl-head-and-tag {
        h4 {
            font-size: $home-tagline-font-size;
        }
    }

    .drsl-button-and-join {
        padding-top: 50px;
        padding-bottom: 60px;
    }

    h4 {
        font-weight: $home-headings-weight;
    }

    .drsl-home-bg-wrapper {
        position: absolute;
        top: 0;
        left: 0;
    }

    .drsl-main-info-wrapper {
        position: relative;
        text-align: center;

        .col-md-12 {
            min-height: 275px;
        }
    }

    .drsl-home-tech-wrapper {
        list-style: none;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 8px;
        padding-bottom: 50px;
        margin-left: -50px;
        margin-right: -50px;
        position: relative;
        text-align: center;

        li {
            list-style: none;
            margin: 0 25px;
            font-size: $home-technology-font-size;
            font-weight: $home-technology-weight;
            opacity: .7;
        }
    }
    .drsl-home-additional-info-wrapper {
        padding-left: 90px;
        padding-top: 10px;

        > div {
            color: $home-additional-info-text-color;
            text-align: center;

            &:first-child {
                padding-left: 0;
                margin-right: -15px;
                width: 350px;
            }
        }
    }

    .drsl-home-additional-info-item {
        background-color: $home-additional-info-background-color;
        border: 1px solid $home-additional-info-border-color;
        height: 160px;
        width: 325px;

        h4 {
            color: $home-additional-info-heading-color;
            font-size: $home-additional-info-heading-font-size;
            text-align: center;
        }

        div {
            font-size: $home-additional-info-txt-font-size;
        }

        &.drsl-fast-easy-access {
            padding: 15px 24px 0px 24px;
        }

        &.drsl-personalized-for-you {
            padding: 15px 21px 0px 21px;
        }

        &.drsl-certified-professionals {
            padding: 15px 31px 0px 31px;
        }
    }

    .drsl-landing-wrapper {
        position: relative;
        z-index: 0;
        width: $home-background-width;
        overflow: hidden;
        margin-left: 15px;

        .drsl-home-gradient {
            position: absolute;
            height: $home-background-gradient-height;
            width: $home-background-width;
            z-index: 1;
            background: url('../images/global/dorsal_WP_bkg_w_top.png') no-repeat;
        }

        .drsl-home-main-bg {
            margin-top: -375px;
            opacity: .4;
            width: $home-background-width;
            height: $home-background-height;
        }
    }
}
