
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySupportcaseLabel" translate="dorsalApp.supportcase.home.createOrEditLabel">Create or edit a Supportcase</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.supportcase.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.supportcase.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.summary" for="field_summary">Summary</label>
            <input type="text" class="form-control" name="summary" id="field_summary"
                    ng-model="vm.supportcase.summary"
                    ng-maxlength="1024" />
            <div ng-show="editForm.summary.$invalid">
                <p class="help-block"
                    ng-show="editForm.summary.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.expectedResult" for="field_expectedResult">Expected Result</label>
            <input type="text" class="form-control" name="expectedResult" id="field_expectedResult"
                    ng-model="vm.supportcase.expectedResult"
                    ng-maxlength="1024" />
            <div ng-show="editForm.expectedResult.$invalid">
                <p class="help-block"
                    ng-show="editForm.expectedResult.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.statusMsg" for="field_statusMsg">Status Msg</label>
            <input type="text" class="form-control" name="statusMsg" id="field_statusMsg"
                    ng-model="vm.supportcase.statusMsg"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.dateCreated" for="field_dateCreated">Date Created</label>
                <div class="input-group">
                    <input id="field_dateCreated" type="text" class="form-control" name="dateCreated" datetime-picker="{{dateformat}}" ng-model="vm.supportcase.dateCreated" is-open="vm.datePickerOpenStatus.dateCreated"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateCreated')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.dateLastUpdate" for="field_dateLastUpdate">Date Last Update</label>
                <div class="input-group">
                    <input id="field_dateLastUpdate" type="text" class="form-control" name="dateLastUpdate" datetime-picker="{{dateformat}}" ng-model="vm.supportcase.dateLastUpdate" is-open="vm.datePickerOpenStatus.dateLastUpdate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateLastUpdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.chatUrl" for="field_chatUrl">Chat Url</label>
            <input type="text" class="form-control" name="chatUrl" id="field_chatUrl"
                    ng-model="vm.supportcase.chatUrl"
                    ng-maxlength="1024" />
            <div ng-show="editForm.chatUrl.$invalid">
                <p class="help-block"
                    ng-show="editForm.chatUrl.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="1024">
                    This field cannot be longer than 1024 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.etaCompletion" for="field_etaCompletion">Eta Completion</label>
            <input type="text" class="form-control" name="etaCompletion" id="field_etaCompletion"
                    ng-model="vm.supportcase.etaCompletion"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.estimateHours" for="field_estimateHours">Estimate Hours</label>
            <input type="number" class="form-control" name="estimateHours" id="field_estimateHours"
                    ng-model="vm.supportcase.estimateHours"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.estimateComment" for="field_estimateComment">Estimate Comment</label>
            <input type="text" class="form-control" name="estimateComment" id="field_estimateComment"
                    ng-model="vm.supportcase.estimateComment"
                    ng-maxlength="2048" />
            <div ng-show="editForm.estimateComment.$invalid">
                <p class="help-block"
                    ng-show="editForm.estimateComment.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="2048">
                    This field cannot be longer than 2048 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.isApproved" for="field_isApproved">Is Approved</label>
            <input type="checkbox" class="form-control" name="isApproved" id="field_isApproved"
                    ng-model="vm.supportcase.isApproved"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.timeOnCase" for="field_timeOnCase">Time On Case</label>
            <input type="number" class="form-control" name="timeOnCase" id="field_timeOnCase"
                    ng-model="vm.supportcase.timeOnCase"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.estimateLog" for="field_estimateLog">Estimate Log</label>
            <input type="text" class="form-control" name="estimateLog" id="field_estimateLog"
                    ng-model="vm.supportcase.estimateLog"
                    ng-maxlength="4096" />
            <div ng-show="editForm.estimateLog.$invalid">
                <p class="help-block"
                    ng-show="editForm.estimateLog.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4096">
                    This field cannot be longer than 4096 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.isResolved" for="field_isResolved">Is Resolved</label>
            <input type="checkbox" class="form-control" name="isResolved" id="field_isResolved"
                    ng-model="vm.supportcase.isResolved"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.supportcase.isRated" for="field_isRated">Is Rated</label>
            <input type="checkbox" class="form-control" name="isRated" id="field_isRated"
                    ng-model="vm.supportcase.isRated"
                     />
        </div>

        <div class="form-group">
            <label translate="dorsalApp.supportcase.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.supportcase.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="dorsalApp.supportcase.expertaccount" for="field_expertaccount">Expertaccount</label>
            <select class="form-control" id="field_expertaccount" name="expertaccount" ng-model="vm.supportcase.expertaccount" ng-options="expertAccount as expertAccount.id for expertAccount in vm.expertaccounts track by expertAccount.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="dorsalApp.supportcase.technology" for="field_technology">Technology</label>
            <select class="form-control" id="field_technology" name="technology" ng-model="vm.supportcase.technology" ng-options="technology as technology.id for technology in vm.technologies track by technology.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="dorsalApp.supportcase.status" for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" ng-model="vm.supportcase.status" ng-options="status as status.id for status in vm.statuses track by status.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="dorsalApp.supportcase.issue" for="field_issue">Issue</label>
            <select class="form-control" id="field_issue" name="issue" ng-model="vm.supportcase.issue" ng-options="issue as issue.id for issue in vm.issues track by issue.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
