<div class="drsl-dialog drsl-case-escalation-view drsl-case-details">
    <form ng-submit="vm.submit()">
        <div class="modal-body" style="padding-left: 0px;">
            <div>
                <div class="drsl-dialog-header">
                    <div><h2>ESCALATION FOR CASE ID {{vm.case.id}}</h2></div>
                </div>

                <div>

                    <div style="background-color: white;padding: 20px;margin-bottom: 10px;">
                        <div class="drsl-case-props">
                            <div class="drsl-form-grid">
                                <div class="drsl-label">User</div>
                                <div class="drsl-value" ng-if="vm.case.user.firstName && vm.case.user.lastName">{{vm.case.user.firstName}} {{vm.case.user.lastName}}</div>
                                <div class="drsl-value" ng-if="!vm.case.user.firstName || !vm.case.user.lastName">{{vm.case.user.email}}</div>
                            </div>
                            <div class="drsl-form-grid">
                                <div class="drsl-label">Expert</div>
                                <div>
                                    <div class="drsl-value">{{vm.case.expertaccount.user.firstName}} {{vm.case.expertaccount.user.lastName}}</div>
                                    <div>
                                        <div ng-show="vm.case.chatRoom"><i class="fa fa-comments-o" tooltip-placement="left" uib-tooltip="{{'case.professional.contact.chat' | translate}}"></i> <a ng-href="{{chatRoom.link}}" target="_blank">{{vm.case.chatRoom.id}}</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="drsl-form-grid">
                                <div class="drsl-label">Summary</div>
                                <div class="drsl-value">{{vm.summary}}</div>
                            </div>
                            <div class="drsl-form-grid">
                                <div class="drsl-label"translate="case.details.technology">Technology</div>
                                <div class="drsl-value">{{vm.case.technology.name}}</div>
                            </div>
                            <div class="drsl-form-grid">
                                <div class="drsl-label"translate="case.details.issue">Issue</div>
                                <div class="drsl-value">{{vm.case.issue.name}}</div>
                            </div>
                        </div>
                        <div class="drsl-form-grid drsl-tech-props" style="width: 200px; display: inline-block;">
                            <div class="">
                                <div style="">
                                    <span class="drsl-label">Technology Properties</span>
                                    <br>
                                    <span ng-repeat="property in vm.technologyProps | orderBy: 'tagNO'">
                                        <span class="drsl-label">{{property.propertyname}}</span> <span class="drsl-value">{{property.propertyvalue}}</span><br>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="escalation-form-grid">
                    <linear-radio
                    target-data="radio.selectedValue"
                    radio-data="radio"
                    start-limit="15"
                    ng-repeat="radio in vm.escalationTypes"
                    escalation="vm.escalationType"
                    class="escalation-radios"
                    issue="vm.issue"
                    technology-properties="vm.technologyProperties"
                    ></linear-radio>
                </div>
                <div>
                    <label for="explanation" class="drsl-label">Reason for escalation and/or reassignment</label>
                    <textarea name="explanation" rows="8" cols="40" class="form-control drsl-value" name="detailedResolution" id="detailedResolution" style="resize: none;" ng-model="vm.thisEscalation.reason" placeholder="Please enter a reason for this change." ng-change="vm.checkStatus()"></textarea>
                </div>


            </div>
            <div style="text-align: right; padding: 20px;">
                <button class="btn btn-default" ng-click="vm.cancel($event)">Cancel</button>
                <button type="submit" class="btn btn-success" uib-tooltip="{{vm.requestMessage}}" ng-mouseover="vm.checkStatus()">Request</button>
            </div>
        </div>
    </form>
</div>
