<div class="drsl-dialog drsl-case-details">
    <form ng-submit="vm.submit()">
        <div class="modal-body" style="padding-left: 0px;">
            <div>
                <div class="drsl-dialog-header">
                    <div><h2>ESCALATION FOR CASE ID {{vm.case.id}}</h2></div>
                </div>

                <div>

                    <div style="background-color: white;padding: 20px;margin-bottom: 10px;">
                        <div class="drsl-form-grid">
                            <div class="drsl-label">User</div>
                            <div class="drsl-value" ng-if="vm.case.user.firstName && vm.case.user.lastName">{{vm.case.user.firstName}} {{vm.case.user.lastName}}</div>
                            <div class="drsl-value" ng-if="!vm.case.user.firstName || !vm.case.user.lastName">{{vm.case.user.email}}</div>
                        </div>
                        <div class="drsl-form-grid">
                            <div class="drsl-label">Expert</div>
                            <div>
                                <div class="drsl-value">{{vm.case.expertaccount.user.firstName}} {{vm.case.expertaccount.user.lastName}}</div>
                                <div>
                                    <div ng-show="vm.case.chatRoom"><i class="fa fa-comments-o" tooltip-placement="left" uib-tooltip="{{'case.professional.contact.chat' | translate}}"></i> <a ng-href="{{chatRoom.link}}" target="_blank">{{vm.case.chatRoom.id}}</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="drsl-form-grid">
                            <div class="drsl-label">Summary</div>
                            <div class="drsl-value">{{vm.summary}}</div>
                        </div>
                        <div class="drsl-form-grid">
                            <div class="drsl-label"translate="case.details.technology">Technology</div>
                            <div class="drsl-value">{{vm.case.technology.name}}</div>
                        </div>
                        <div class="drsl-form-grid">
                            <div class="drsl-label"translate="case.details.issue">Issue</div>
                            <div class="drsl-value">{{vm.case.issue.name}}</div>
                        <div class="drsl-incident-items">
                            <div style="text-align: left;">
                                <span class="drsl-label">Technology Properties</span>
                                <br>
                                <span ng-repeat="property in vm.technologyProps">
                                    <span class="drsl-label">{{property.propertyname}}</span> <span class="drsl-value">{{property.propertyvalue}}</span><br>
                                </span>
                            </div>
                        </div>
                    </div>
                        <!-- <div class="drsl-form-grid" style="width: 460px;">
                            <div>
                                <div style="display:flex; flex-flow: row;">
                                    <div style="flex: 1; text-align: left; margin-left: 74px;"><span class="drsl-label" style="padding-left:10px;padding-right: 10px;">Issue</span><span class="drsl-value">{{vm.case.issue.name}}</span></div>
                                    <div style="flex: 1; text-align: center;"><span class="drsl-label" style="padding-right: 10px;">Technology</span><span class="drsl-value">{{vm.case.technology.name}}</span></div>
                                </div>
                            </div>
                        </div> -->

                    </div>
                </div>
                <div class="escalation-form-grid">
                    <linear-radio target-data="radio.selectedValue"
                                  radio-data="radio"
                                  start-limit="15"
                                  ng-repeat="radio in vm.escalationTypes"
                                  issue="vm.issue"
                                  escalation="vm.escalationType"
                                  class="escalation-radios"
                                  ></linear-radio>
                    <!-- <div class="drsl-linear-radio">
                        <div class="drsl-linear-radio">
                            <div class="drsl-radio-set tier-list" style="overflow-x: hidden;">
                                <div class="ng-scope request"><input name="urgency" id="Escalate" type="radio" aria-invalid="false"  ng-model="vm.thisEscalation.escalationType" value="escalate"><label for="Escalate" class="drsl-label" style="width: 90px;">Escalate Case<br><span></span></label></div>
                                <div class="ng-scope request"><input name="urgency" id="Reassign" type="radio" aria-invalid="false" ng-model="vm.thisEscalation.escalationType" value="reassign"><label for="Reassign" class="drsl-label" style="width: 90px;">Reassign Case<br><span></span></label></div>
                                <div class="ng-scope request"><input name="urgency" id="EscalateAndReassign" type="radio" aria-invalid="false" ng-model="vm.thisEscalation.escalationType" value="escalate and reassign"><label for="EscalateAndReassign" class="drsl-label" style="width: 90px;">Escalate and Reassign<br><span></span></label></div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div>
                    <label for="explanation" class="drsl-label">Reason for escalation and/or reassignment</label>
                    <textarea name="explanation" rows="8" cols="40" class="form-control drsl-value" name="detailedResolution" id="detailedResolution" style="resize: none;" ng-model="vm.thisEscalation.reason"></textarea>
                </div>


            </div>
            <div style="text-align: right; padding: 20px;">
                <button class="btn btn-default" ng-click="vm.cancel($event)">Cancel</button>
                <button type="submit" class="btn btn-success">Request</button>
            </div>
        </div>
    </form>
</div>
