<link rel="stylesheet" href="content/css/main.css">

<div class="container">

    <div>
        <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>

    <div class="admin-header">
    </div>

    <br />

    <div class="container grid-container no-padding">
        <div class="" ng-show="!rc.joined">
            <div class="drsl-chat-login-wrapper">
                <div class="drsl-chat-login">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" translate="concierge.chat.login.header">Start Chat</h3>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal col-sm-8 col-md-8" name="joinform" novalidate>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="First Name" ng-model="rc.person.firstName" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Last Name" ng-model="rc.person.lastName" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10 text-right">
                                        <button type="submit" class="btn btn-different" ng-click="rc.join()" ng-disabled="!joinform.$valid">let's chat</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="" ng-show="rc.joined">
            <div class="panel panel-default chatroom">

                <div class="chat">
                    <p class="phrase" ng-repeat="phrase in rc.phrases">
                        <span class="name">{{phrase.username}}</span><br><span class="text">{{phrase.message}}</span></p>
                    </div>
                    <hr>
                    <form ng-submit="rc.post()">
                        <div class="input-group chatbar">
                            <input type="text" class="form-control " placeholder="Type a phrase..." ng-model="rc.message"/>
                            <span class="input-group-btn">
                                <button class="btn btn-different" type="submit" ng-click="rc.post()">SEND</button>
                            </span>
                        </div>
                    </form>
                    <br />
                </div>
            </div>
        </div>

    </div>
