<div class="drsl-content-container" ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="drsl-concierge-wrapper">
                <div class="drsl-chat-wrapper">
                    <div class="drsl-sub-header">
                        <div>concierge chat</div>
                        <div>{{vm.pageTitle}}</div>
                    </div>
                    <div ng-show="vm.showChat"><img src="content/images/chat.jpg" /></div>
                    <form ng-hide="vm.showChat" ng-submit="vm.startChat($event)">
                        <div style="width: 652px;position: relative; top: 100px;">
                            <div style="width: 300px; margin: auto;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Start Chat</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <input type="text" ng-model="vm.chatName" class="form-control" placeholder="your name" />
                                        </div>
                                        <div class="form-group" style="text-align: right; margin-bottom: 0px;">
                                            <button type="submit" class="btn btn-success">let's chat</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="drsl-case-details-wrapper">
                    <div class="drsl-sub-header">case details</div>
                    <div class="drsl-chat-body">
                        <!-- Summary -->
                        <div class="drsl-field-seciton">
                            <div class="drsl-field-label">Summary</div>
                            <div class="drsl-field-input">
                                <input type="text" class="form-control" ng-model="vm.caseDetails.summary" placeholder="just describe your problem">
                            </div>
                        </div>

                        <!-- Radio Buttons -->
                        <incident-radio target-data="radio.selectedValue"
                                        radio-data="radio"
                                        ng-repeat="radio in vm.caseDetails.radios"></incident-radio>

                        <!-- Dynamic Product Details -->
                        <product-details product="vm.product" complete="vm.productDetailInputComplete"></product-details>

                        <div class="drsl-field-seciton">
                            <div class="drsl-field-label">Description</div>
                            <div class="drsl-field-input">
                                <textarea class="form-control" ng-model="vm.caseDetails.description" placeholder="do you have more details"></textarea>
                            </div>
                        </div>

                        <!-- File Upload -->
                        <div class="drsl-field-seciton drsl-file-upload">
                            <div class="drsl-field-label">
                                Attach file (optional)
                                <div style="font-size:10px;">(Screenshot, Logfile, Configuration) </div>
                            </div>
                            <div class="drsl-field-input">
                                drag files here to upload
                            </div>
                        </div>

                        <!-- Main Button -->
                        <div class="drsl-button-wrapper">
                            <div>
                                <button type="submit" class="drsl-custom-button" ng-click="vm.submitForm()"><span>get started</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
