<div ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <div class="drsl-concierge-wrapper">
                <!-- Concierge Chat -->
                <div class="drsl-chat-wrapper">
                    <!-- Header -->
                    <div class="drsl-sub-header">
                        <div translate="concierge.chat.header">Concierge Chat</div>
                        <div>{{vm.pageTitle}}</div>
                    </div>

                    <!-- Mock chat page -->
                    <div ng-show="vm.showChat"><img src="content/images/chat.jpg" /></div>

                    <!-- Login Form -->
                    <form ng-hide="vm.showChat" ng-submit="vm.startChat($event)">
                        <div class="drsl-chat-login-wrapper">
                            <div class="drsl-chat-login">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title" translate="concierge.chat.login.header">Start Chat</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <input type="text" ng-model="vm.chatName" class="form-control" placeholder="{{'concierge.chat.login.placeholder' | translate}}" />
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success" translate="concierge.chat.login.button">let's chat</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Case Details -->
                <div class="drsl-case-details-wrapper">
                    <!-- Header -->
                    <div class="drsl-sub-header" translate="concierge.caseDetails.header">Create Your Case</div>

                    <div class="drsl-chat-body">
                        <!-- Summary -->
                        <div class="drsl-field-seciton">
                            <div class="drsl-field-label" translate="concierge.caseDetails.summary.main">Summary</div>
                            <div class="drsl-field-input">
                                <input type="text" class="form-control" ng-model="vm.caseDetails.summary" placeholder="{{'concierge.caseDetails.summary.placeholder' | translate}}">
                            </div>
                        </div>

                        <!-- Radio Buttons -->
                        <linear-radio target-data="radio.selectedValue"
                                        radio-data="radio"
                                        ng-repeat="radio in vm.caseDetails.radios"></linear-radio>

                        <!-- File Upload -->
                        <div class="drsl-field-seciton drsl-file-upload">
                            <div class="drsl-field-label">
                                <span translate="concierge.caseDetails.file.main">Attach file (optional)</span>
                                <div class="drsl-field-sub-label" translate="concierge.caseDetails.file.notes">(Screenshot, Logfile, Configuration) </div>
                            </div>
                            <div class="drsl-field-input">
                                <div style="border: 1px dashed #DBD9DA; text-align: center; padding: 10px;"><i class="fa fa-cloud-upload fa-lg"></i> Drop files to attach, or <span style="color:#F48B3D;">browse</span></div>
                            </div>
                        </div>

                        <!-- Main Button -->
                        <div class="drsl-button-wrapper">
                            <div>
                                <button type="submit" class="drsl-custom-button" ng-click="vm.submitForm()"><span translate="concierge.caseDetails.button" style="margin-bottom: 5px;">go</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
