<div class="drsl-product-details-wrapper" ng-show="canShowProductDetails()">
    <!-- Attachment Menu Button Group -->
    <div class="btn-group drsl-detail-attachment-wrapper" uib-dropdown>
        <!-- Icon and Button -->
        <button type="button" class="btn btn-default drsl-attach-btn" uib-dropdown-toggle>
            <span class="fa fa-paperclip"></span>
        </button>
        <!-- Menu Dropdown -->
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem">
                <div class="drsl-menuitem-field-type" ng-click="textFieldClick($event)">
                    <form ng-submit="">
                        <div class="drsl-attachment-items-wrapper">
                            <div class="drsl-attachment-item" ng-class-odd="'drsl-attachment-item-odd'" ng-repeat="file in ['error_log-vx398611.txt', 'config.bat', 'Screenshot_2.png']">
                                <span>{{file}}</span>
                                <span class="pull-right" translate="concierge.buttons.remove">remove</span>
                            </div>
                        </div>
                        <button class="btn btn-success detailButton" translate="concierge.buttons.done">Done</button>
                        <button class="btn btn-success detailButton" translate="concierge.buttons.attach">Attach</button>
                        <button class="btn btn-default detailButton" translate="concierge.buttons.later">Later</button>
                    </form>
                </div>
            </li>
        </ul>
    </div><div class="btn-group" uib-dropdown ng-repeat="rootType in getAllIncidentTypes()">
        <button type="button" class="btn btn-default" ng-class="{selected: rootType.selectedValue}" uib-dropdown-toggle>
            <span ng-if="rootTranslationWorks(rootType) && !rootType.selectedValue"> {{rootType.description | translate}}</span>
            <span ng-if="!rootTranslationWorks(rootType) && !rootType.selectedValue">{{rootType.name}}</span>
            <span ng-if="rootType.selectedValue">{{getLabelForTypeValue(rootType)}}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem" ng-repeat="incidentType in rootType.types" ng-class="{'selected': (incidentType.value == rootType.selectedValue && incidentType.type !== 'field')}">
                <a ng-hide="incidentType.type || incidentType.value.toLowerCase() === 'text_field' || incidentType.value.toLowerCase() === 'other_field'" href="#" ng-click="setIncidentTypeValue(rootType, incidentType)" ng-model="superScope">
                    <span ng-if="incidentTranslationWorks(incidentType)">{{incidentType.label | translate}}</span>
                    <span ng-if="!incidentTranslationWorks(incidentType)">{{incidentType.value}}</span>
                </a>
                <div class="drsl-menuitem-field-type" ng-show="incidentType.type && incidentType.type === 'field'">
                    <form ng-submit="setIncidentTypeValue(rootType, incidentType)">
                        <div ng-if="rootType.name.toLowerCase() !== 'other'">
                            <input ng-click="textFieldClick($event)" maxlength="128"
                            ng-blur="setIncidentTypeValue(rootType, incidentType)"
                            type="text"
                            class="form-control"
                            placeholder="other"
                            ng-model="incidentType.value"
                            ng-keypress="handelEnter($event)">
                        </div>
                        <div ng-if="rootType.name.toLowerCase() === 'other'">
                            <textarea ng-click="textFieldClick($event)" maxlength="128"
                            ng-blur="setIncidentTypeValue(rootType, incidentType)"
                            class="form-control"
                            placeholder="{{'concierge.caseDetails.incidentTypes.other.placeholder' | translate}}"
                            ng-model="incidentType.value"></textarea>
                            <button class="btn btn-success detailButton">Confirm</button>
                            <button class="btn btn-default detailButton" ng-click="incidentType.value = ''">Cancel</button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>
