<div class="drsl-case-rating-view drsl-dialog">
    <form ng-submit="vm.submit()" name="ratingForm" novalidate>
        <div class="modal-body">
            <div>
                <!-- Dialog Header -->
                <div>
                    <div class="drsl-dialog-header">
                        <div><h2><span>{{'case.rating.header' | translate}} {{'case.details.caseID' | translate}}</span> {{vm.case.technology.name}} {{vm.case.id}}</h2></div>
                    </div>
                </div>

                <!-- Dialog Content -->
                <div>
                    <div class="drsl-dialog-content">

                        <!-- Expert and Case Resolution Details -->
                        <div class="drsl-rating-row">
                            <div>
                                <img src="content/images/global/easy_as_1.png" />
                                <h3>Review</h3>
                            </div>
                            <div>
                                <!-- Expert -->
                                <h3>
                                    <span>{{'case.professional.expert' | translate}}: {{vm.case.expertaccount.user.firstName}} {{vm.case.expertaccount.user.lastName}}</span>
                                    <div class="pull-right">{{'case.details.caseCompleted' | translate}} {{vm.case.dateLastUpdate | date:"MM/dd/yy h:mm a"}}</div>
                                </h3>

                                <!-- Time on Case -->
                                <h3>
                                    <span>
                                        {{'case.rating.timeOnCase' | translate}}: <case-estimate hours="{{vm.case.timeOnCase}}" display-by-time="true"></case-estimate>
                                    </span>
                                </h3>

                                <!-- Case Resolution Details -->
                                <div class="drsl-rating-section">
                                    <h3 translate="case.details.resolutionDetails">Case Resolution Details</h3>
                                    <div class="drsl-scrolling-container drsl-value">{{vm.detailedResolutions}}</div>
                                </div>
                            </div>
                        </div>


                        <!-- Radio Selections -->
                        <div class="drsl-rating-row drsl-rating-radios">
                            <div>
                                <img src="content/images/global/easy_as_2.png" />
                                <h3>Rate</h3>
                            </div>
                            <div>
                                <!-- Radio Selections -->
                                <div class="drsl-rating-grid">
                                    <div class="drsl-rating-grid-label">&nbsp;</div>
                                    <div class="drsl-rating-grid-values">
                                        <div class="drsl-rating-grid-values-header">
                                            <div translate="case.rating.value.poor">poor</div>
                                            <div translate="case.rating.value.average">average</div>
                                            <div translate="case.rating.value.good">good</div>
                                            <div translate="case.rating.value.excellent">excellent</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="drsl-rating-grid" ng-repeat="radio in vm.radios">
                                    <div class="drsl-rating-grid-label">
                                        <h3 translate="{{radio[0].label}}"></h3>
                                    </div>
                                    <div class="drsl-rating-grid-values">
                                        <div ng-repeat="radioItem in radio">
                                            <linear-radio target-data="radioItem.selectedValue" technology-properties="vm.technologyProperties" radio-data="radioItem"></linear-radio>
                                        </div>
                                    </div>
                                </div>
                                <div ng-class="{'has-error': ratingForm.ratingComments.$error.required && vm.formSubmitted}">
                                    <textarea class="form-control drsl-value" name="ratingComments" id="ratingComments" ng-model="vm.ratingComments" cols="30" rows="3" placeholder="{{'case.rating.ratingComments.placeholder' | translate}}" required></textarea>
                                </div>
                            </div>
                        </div>


                        <!-- Badge Selections -->
                        <div class="drsl-rating-row drsl-rating-reward">
                            <div>
                                <img src="content/images/global/easy_as_3.png" />
                                <h3>Reward</h3>
                            </div>
                            <div>
                                <!-- Badge Selection -->
                                <div class="drsl-rating-section">
                                    <h3>{{'case.rating.badges' | translate}} <span>({{'case.rating.badges.note' | translate}})</span></h3>
                                    <div class="drsl-scrolling-container">
                                        <div>
                                            <div translate="case.professional.badges.group.techBadges">Technical Skill</div>
                                            <div>
                                                <expert-badges badges="vm.techBadges" badge-select="true"></expert-badges>
                                            </div>
                                        </div>
                                        <div>
                                            <div translate="case.professional.badges.group.personalBadges">Personal Qualities</div>
                                            <div>
                                                <expert-badges badges="vm.personalBadges" badge-select="true"></expert-badges>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Buttons -->
            <div class="drsl-dialog-buttons">
                <button class="btn btn-default" ng-click="vm.cancel()" translate="entity.action.later">Later</button>
                <button type="submit" class="btn btn-success" translate="entity.action.submit">Submit</button>
            </div>
        </div>
    </form>
</div>
