<div class="drsl-dialog">
    <form ng-submit="vm.submit()">
        <div class="modal-body">
            <div>
                <div>
                    <div class="drsl-dialog-header">
                        <div><h2>Rating for: Case ID: {{vm.case.id}}</h2></div>
                    </div>
                </div>
                <div>
                    <div>
                        <div ng-repeat="radio in vm.radios">
                            <h3 translate="{{radio.label}}"></h3>
                            <linear-radio target-data="radio.selectedValue" radio-data="radio"></linear-radio>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
</div>
