
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myTechnologypropertyvalueLabel" translate="dorsalApp.technologypropertyvalue.home.createOrEditLabel">Create or edit a Technologypropertyvalue</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.technologypropertyvalue.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.technologypropertyvalue.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.technologypropertyvalue.value" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                    ng-model="vm.technologypropertyvalue.value"
                     />
        </div>

        <div class="form-group">
            <label translate="dorsalApp.technologypropertyvalue.technology" for="field_technology">Technology</label>
            <select class="form-control" id="field_technology" name="technology" ng-model="vm.technologypropertyvalue.technology" ng-options="technology as technology.id for technology in vm.technologies track by technology.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="dorsalApp.technologypropertyvalue.technologyproperty" for="field_technologyproperty">Technologyproperty</label>
            <select class="form-control" id="field_technologyproperty" name="technologyproperty" ng-model="vm.technologypropertyvalue.technologyproperty" ng-options="technologyproperty as technologyproperty.id for technologyproperty in vm.technologyproperties track by technologyproperty.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
