<link rel="stylesheet" href="content/css/main.css">
<div class="container drsl-chat-rooms-admin">
  <div>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="admin-header">

    <div class="container no-padding">
      <div class="col-md-6 col-sm-4">
        <h3>
          <span>{{crc.rooms.length}}</span>&nbsp;Chat Rooms
        </h3>
      </div>

      <div class="col-md-4 col-sm-5">
      </div>

      <div class="col-md-2 col-sm-3">
        <br>
        <ul class="nav nav-pills pull-right">
          <li><button type="button" class="btn btn-different" ng-click="crc.refreshRooms()"><i class="glyphicon glyphicon-refresh"></i></button></li>
          <li><button type="button" class="btn btn-different" ng-click="crc.delete()" ng-disabled="crc.rooms.length == 0"><i class="glyphicon glyphicon-trash"></i></button></li>
        </ul>
      </div>
    </div>
  </div>

  <br />

  <div class="container grid-container no-padding">
    <uib-accordion close-others="false">
      <uib-accordion-group ng-repeat="room in crc.rooms track by $index" heading="{{room.room}}" is-open="crc._isopen[room.room]" is-disabled="!crc.isMemberOfRoom(room.room)" class="drsl-chat-accord">
        <uib-accordion-heading>
          Name: {{room.room}}&nbsp;&nbsp;
          <span ng-if="room.membersCount === 2">Concierge is present</span>
          <button class="btn btn-xs btn-different" ng-click="crc.join(room)" ng-hide="crc.isMemberOfRoom(room.room)">Join</button>
          <button class="btn btn-xs btn-different" ng-click="crc.leave(room)" ng-show="crc.isMemberOfRoom(room.room)">Leave</button>
          &nbsp;<i class="pull-right glyphicon glyphicon glyphicon-remove" ng-click="crc.deleteRoom(room, $index)"></i>
        </uib-accordion-heading>

        <div class="chat">
          <p class="phrase" ng-repeat="phrase in crc.phrases[room.room]"><span class="name">{{phrase.username}}</span><br><span class="text">{{phrase.message}}</span></p>
        </div>
        <hr>
        <form ng-submit="crc.post(room.room, $index)">
          <div class="input-group">
            <input type="text" class="form-control chatbar" placeholder="Type a phrase..." ng-model="crc.messages[room.room]">
            <span class="input-group-btn">
              <button class="btn btn-different" type="button" ng-click="crc.post(room.room, $index)">SEND</button>
            </span>
          </div>
        </form>
      </uib-accordion-group>
    </uib-accordion>
  </div>

</div>
