<div class="drsl-login">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.cancel()">&times;</button>
        <h4 class="modal-title" translate="login.title">Authentication</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div style="display: flex; flex-flow: row; align-items: center;">
                    <div style="flex: 2;"><h1 translate="login.title">Authentication</h1></div>
                    <div style="flex: 1;text-align: right;">or <a href="#" ng-click="vm.togglePath($event)">{{vm.altPathText}}</a></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="alert alert-danger" ng-show="vm.authenticationError" translate="login.messages.error.authentication">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
            </div>
            <div class="col-md-12">
                <form class="form" role="form" ng-submit="vm.login($event)" ng-show="vm.isLogin">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <!--<label for="username" translate="global.form.username">Login</label>-->
                                <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                            </div>
                            <div class="form-group">
                                <!--<label for="password" translate="login.form.password">Password</label>-->
                                <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                       ng-model="vm.password">
                            </div>
                            <div style="text-align: right;">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                        </div>
                    </div>
                </form>
                <form class="form" role="form" ng-submit="vm.login($event)" ng-hide="vm.isLogin">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <!--<label for="username" translate="global.form.username">Login</label>-->
                                <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                            </div>
                            <div class="form-group" ng-hide="vm.isLogin">
                                <!--<label class="control-label" for="email" translate="global.form.email">E-mail</label>-->
                                <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                                       ng-model="vm.registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                            </div>
                            <div class="form-group">
                                <!--<label for="password" translate="login.form.password">Password</label>-->
                                <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                       ng-model="vm.password">
                            </div>
                            <div class="form-group" ng-hide="vm.isLogin">
                                <!--<label class="control-label" for="confirmPassword" translate="global.form.confirmpassword">New password confirmation</label>-->
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                                       ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                            </div>
                            <div style="text-align: right;">
                                <button type="submit" class="btn btn-primary">Create an account</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!--<div class="form-group">-->
                        <!--<label for="rememberMe">-->
                            <!--<input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>-->
                            <!--<span translate="login.form.rememberme">Remember me</span>-->
                        <!--</label>-->
                    <!--</div>-->
                <!--
                <p></p>
                <div class="alert alert-warning">
                    <a class="alert-link" href="" ng-click="vm.requestResetPassword()" translate="login.password.forgot">Did you forget your password?</a>
                </div>
                <div class="alert alert-warning" translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" href="" ng-click="vm.register()">Register a new account</a>
                </div>
                -->
            </div>
        </div>
    </div>
</div>
