
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myExpertAccountLabel" translate="dorsalApp.expertAccount.home.createOrEditLabel">Create or edit a Expert Account</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.expertAccount.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.expertAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.expertAccount.phone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.skype" for="field_skype">Skype</label>
            <input type="text" class="form-control" name="skype" id="field_skype"
                    ng-model="vm.expertAccount.skype"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.othercommunication" for="field_othercommunication">Othercommunication</label>
            <input type="text" class="form-control" name="othercommunication" id="field_othercommunication"
                    ng-model="vm.expertAccount.othercommunication"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.location" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="vm.expertAccount.location"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.expertScore" for="field_expertScore">Expert Score</label>
            <input type="number" class="form-control" name="expertScore" id="field_expertScore"
                    ng-model="vm.expertAccount.expertScore"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.handle" for="field_handle">Handle</label>
            <input type="text" class="form-control" name="handle" id="field_handle"
                    ng-model="vm.expertAccount.handle"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.languages" for="field_languages">Languages</label>
            <input type="text" class="form-control" name="languages" id="field_languages"
                    ng-model="vm.expertAccount.languages"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.imagePath" for="field_imagePath">Image Path</label>
            <input type="text" class="form-control" name="imagePath" id="field_imagePath"
                    ng-model="vm.expertAccount.imagePath"
                    ng-maxlength="512" />
            <div ng-show="editForm.imagePath.$invalid">
                <p class="help-block"
                    ng-show="editForm.imagePath.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="512">
                    This field cannot be longer than 512 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.isAvailable" for="field_isAvailable">Is Available</label>
            <input type="checkbox" class="form-control" name="isAvailable" id="field_isAvailable"
                    ng-model="vm.expertAccount.isAvailable"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.expertBio" for="field_expertBio">Expert Bio</label>
            <input type="text" class="form-control" name="expertBio" id="field_expertBio"
                    ng-model="vm.expertAccount.expertBio"
                    ng-maxlength="4096" />
            <div ng-show="editForm.expertBio.$invalid">
                <p class="help-block"
                    ng-show="editForm.expertBio.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4096">
                    This field cannot be longer than 4096 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.expertSince" for="field_expertSince">Expert Since</label>
                <div class="input-group">
                    <input id="field_expertSince" type="text" class="form-control" name="expertSince" datetime-picker="{{dateformat}}" ng-model="vm.expertAccount.expertSince" is-open="vm.datePickerOpenStatus.expertSince"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expertSince')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.numberOfCases" for="field_numberOfCases">Number Of Cases</label>
            <input type="number" class="form-control" name="numberOfCases" id="field_numberOfCases"
                    ng-model="vm.expertAccount.numberOfCases"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.welcomeMessage" for="field_welcomeMessage">Welcome Message</label>
            <input type="text" class="form-control" name="welcomeMessage" id="field_welcomeMessage"
                    ng-model="vm.expertAccount.welcomeMessage"
                    ng-maxlength="2048" />
            <div ng-show="editForm.welcomeMessage.$invalid">
                <p class="help-block"
                    ng-show="editForm.welcomeMessage.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="2048">
                    This field cannot be longer than 2048 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.expertTimezone" for="field_expertTimezone">Expert Timezone</label>
            <input type="text" class="form-control" name="expertTimezone" id="field_expertTimezone"
                    ng-model="vm.expertAccount.expertTimezone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.expertAvailability" for="field_expertAvailability">Expert Availability</label>
            <select class="form-control" name="expertAvailability" ng-model="vm.expertAccount.expertAvailability" id="field_expertAvailability">
                <option value="FULL_TIME" translate="dorsalApp.Availability.FULL_TIME">FULL_TIME</option>
                <option value="MON_FRI" translate="dorsalApp.Availability.MON_FRI">MON_FRI</option>
                <option value="EVENING" translate="dorsalApp.Availability.EVENING">EVENING</option>
                <option value="WEEKEND" translate="dorsalApp.Availability.WEEKEND">WEEKEND</option>
                <option value="OFFLINE" translate="dorsalApp.Availability.OFFLINE">OFFLINE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="dorsalApp.expertAccount.profileVisibility" for="field_profileVisibility">Profile Visibility</label>
            <select class="form-control" name="profileVisibility" ng-model="vm.expertAccount.profileVisibility" id="field_profileVisibility">
                <option value="PUBLIC" translate="dorsalApp.ProfileVisability.PUBLIC">PUBLIC</option>
                <option value="INTERN" translate="dorsalApp.ProfileVisability.INTERN">INTERN</option>
                <option value="HIDDEN" translate="dorsalApp.ProfileVisability.HIDDEN">HIDDEN</option>
            </select>
        </div>

        <div class="form-group">
            <label translate="dorsalApp.expertAccount.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.expertAccount.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="dorsalApp.expertAccount.firsttechnology" for="field_firsttechnology">Firsttechnology</label>
            <select class="form-control" id="field_firsttechnology" name="firsttechnology" ng-model="vm.expertAccount.firsttechnology" ng-options="technology as technology.id for technology in vm.technologies track by technology.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="dorsalApp.expertAccount.secondtechnology" for="field_secondtechnology">Secondtechnology</label>
            <select class="form-control" id="field_secondtechnology" name="secondtechnology" ng-model="vm.expertAccount.secondtechnology" ng-options="technology as technology.id for technology in vm.technologies track by technology.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="dorsalApp.expertAccount.issueexpertise" for="field_issueexpertise">Issueexpertise</label>
            <select class="form-control" id="field_issueexpertise" name="issueexpertise" ng-model="vm.expertAccount.issueexpertise" ng-options="issue as issue.id for issue in vm.issues track by issue.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
