<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/global/logo.png"/>
                <!--<img src="content/images/global/tagline.png" style="margin-top: 5px;"/>-->
            </a>
        </div>
        <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
                <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" >
                            <a ui-sref="technology" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.technology">Technology</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="technologyproperty" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.technologyproperty">Technologyproperty</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="technologypropertyvalue" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.technologypropertyvalue">Technologypropertyvalue</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="issue" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.issue">Issue</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="status" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.status">Status</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="useraccount" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.useraccount">Useraccount</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="groupaccess" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.groupaccess">Groupaccess</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="referencedoc" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.referencedoc">Referencedoc</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="supportcase" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.supportcase">Supportcase</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="casetechnologyproperty" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.casetechnologyproperty">Casetechnologyproperty</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="payment" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.payment">Payment</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="expertbadge" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.expertbadge">Expertbadge</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="badge" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.badge">Badge</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="updatetype" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.updatetype">Updatetype</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="caseupdate" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.caseupdate">Caseupdate</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="rating" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.rating">Rating</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="expert-account" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.expertAccount">Expert Account</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="global-metadata" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.globalMetadata">Global Metadata</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="useraccount" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.userAccount">User Account</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="shared-case" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.sharedCase">Shared Case</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="attachment" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.attachment">Attachment</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="escalate-case" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.escalateCase">Escalate Case</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" >
                            <a ui-sref="support-case-report" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span translate="global.menu.entities.supportCaseReport">Support Case Report</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('about-us')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="about-us-menu">
                        <span>
                            <span class="hidden-sm">
                                About Us
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a href="http://godorsal.com/about/what-we-do/" target="_blank">
                                <span>What We Do</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href="http://godorsal.com/about/how-it-works/" target="_blank">
                                <span>How It Works</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <!---->
                <li ui-sref-active="active" ng-switch-when="false">
                    <a href="" ng-click="vm.login()" id="login">
                        <span ng-hide="vm.DrslMetadata.selfRegistrationEnabled" translate="global.menu.account.loginOnly">Sign in</span>
                        <span ng-show="vm.DrslMetadata.selfRegistrationEnabled" translate="global.menu.account.login">Register/Sign in</span>
                    </a>
                </li>
                <li ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer" ng-switch-when="true">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span class="drsl-nav-hello" ng-show="vm.accountFirstName"><span translate="global.menu.account.hello">Hello,</span> {{vm.accountFirstName}}</span>

                        <span>
                            <span class="hidden-sm" translate="global.menu.account.main">
                                Your Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="case" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-th-list"></span>&nbsp;
                                <span translate="global.menu.account.mycases">My Cases</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>
                                <span translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="hidden-sm" translate="global.menu.admin.main">Administration</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="conciergeAdmin" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span>Concierge</span>
                                <!-- <span translate="global.menu.admin.concierge">Concierge</span> -->
                            </a>
                        </li>
                        <li ng-hide="vm.inProduction || vm.swaggerDisabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                    </ul>
                </li>
                <li ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                        <span>
                            <span class="hidden-sm" translate="global.menu.language">Language</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu ng-if="languageVm.languages.length > 1">
                        <li active-menu="{{language}}" ng-repeat="language in languageVm.languages">
                            <a href="" ng-click="languageVm.changeLanguage(language);vm.collapseNavbar();">{{language | findLanguageFromKey}}</a>
                        </li>
                    </ul>
                </li>
                <li class="drsl-search" ng-class="{expanded: vm.searchExpanded}">
                    <form name="drslNavSearchForm" ng-submit="vm.submitSearch();">
                        <span ng-hide="vm.searchExpanded" class="drsl-search-toggle" ng-click="vm.expandSearch()"><i class="fa fa-search"></i></span>
                        <span ng-show="vm.searchExpanded" class="drsl-search-toggle"><i class="fa fa-search"></i></span><div class="drsl-search-input">
                            <div><input id="drslSearch" type="text" placeholder="search" ng-model="vm.searchTerm" ng-blur="vm.collapseSearch()"></div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
