// Fonts
$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$background-color: #FFFFFF;
$default-text-color: #333;
$nav-text-color: #DDDCDB;
$nav-text-active-color: #FFF;
$form-field-placeholder-color: #F8F8F8;
$form-field-background-color: #DBDBDB;
$content-container-color: #E5E5E5;

$brand-color: #F48B3D;
$brand-border-color: #E58C38;

$custom-button-color: $brand-color;
$custom-button-size: 150px;
$custom-button-shadow: 0px 5px 40px rgba(0, 0, 0, 0.5);
$custom-button-text-color: #FFFFFF;
$custom-button-font-size: 30px;
$custom-button-line-height: .95em;

// Dimensions
$site-max-width: 1280px;
$nav-height: 84px;
$content-padding-top: 25px;
$content-padding-side: 50px;
