// Fonts
$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$background-color: #4C4C4C;
$default-text-color: #333;
$nav-text-color: #7D7D7D;
$nav-text-active-color: #FFF;
$form-field-placeholder-color: #F8F8F8;
$form-field-background-color: #DBDBDB;

$custom-button-color: #F48B3D;
$custom-button-size: 150px;
$custom-button-shadow: 0px 5px 40px rgba(0, 0, 0, 0.5);
$custom-button-text-color: #FFFFFF;
$custom-button-font-size: 30px;
$custom-button-line-height: 30px;

// Dimensions
$site-max-width: 970px;
