// Fonts
$main-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Colors
$background-color: #4C4C4C;
$default-text-color: #333;
$nav-text-color: #7D7D7D;
$nav-text-active-color: #FFF;

// Dimensions
$site-max-width: 970px;
