@import "variables";
@import "hipster";
@import "components";
@import "overrides";

// Global
.drsl-main-content {
    position: relative;

    &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background: transparent;
        width: 100%;
        height: $nav-height;
        z-index: 1;
    }
}

.drsl-content-container {
    padding: ($nav-height + $content-padding-top) $content-padding-side $content-padding-side $content-padding-side;
    background-color: $content-container-color;
    margin-left: -15px;
    margin-right: -15px;
    min-height: 800px;

    &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        background: transparent url("../images/global/nv-bkg.png") repeat-x;
        width: 100%;
        height: 320px;
    }
}

.drsl-no-padding {
    padding: 0;
}

// Landing Page
.drsl-landing-wrapper {
    position: relative;
    z-index: 0;

    .badge-wrapper {
        position: absolute;
        top: 36.5%;
        width: 100%;
        height: 150px;
    }

    .drsl-badge {
        position: absolute;
        top: 0;
        left: 0;
    }

    .drsl-connect-now {
        position: absolute;
        top: -5px;
        right: 210px;
    }

    .drsl-sections-wrapper {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .drsl-sections {
        position: relative;
        display: flex;
        flex-flow: row;
        width: 84%;
        margin: 0 auto;
    }

    .drsl-section {
        flex: 1;
    }

    .drsl-section-icon-wrapper {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    .drsl-section-text {
        padding-top: 5px;
        cursor: pointer;
    }
}

// Login
.drsl-login {
    .modal-body {
        h1 {
            margin-top: 20px;
            margin-bottom: 40px;
            font-weight: 200;
        }
        input.form-control {
            height: 50px;
            font-size: 22px;

            border-radius: 0;
            background-color: $form-field-background-color;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $form-field-placeholder-color;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: $form-field-placeholder-color;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: $form-field-placeholder-color;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: $form-field-placeholder-color;
            }

        }
        .form-group {
            margin-bottom: 40px;
        }
    }
}

.drsl-incident-radio {
    display: flex;
    flex-flow: row;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;

    .drsl-radio-desc {
        flex: 1;
        margin-right: 10px;
        text-align: left;
    }

    .drsl-radio-wrapper {
        position: relative;
        top: -5px;
        flex: 3;

        hr {
            position: absolute;
            top: 70%;
            left: 0;
            width: 100%;
            margin: 0px;
            z-index: 0;
        }
    }

    .drsl-radio-set {
        position: relative;
        display: flex;
        flex-flow: row;
        z-index: 1;
    }

    .drsl-radio-item {
        flex: 1;
        font-size: 11px;

        label {
            margin: 0;
            cursor: pointer;
            font-weight: normal;
        }

        input {
            cursor: pointer;
        }
    }

    input[type="radio"] {
        display: none;
    }
    input[type="radio"] + label span {
        display: inline-block;
        width: 17px;
        height: 17px;
        cursor: pointer;
        background-color: #ffffff;
        border: 3px solid #B0AFB4;
        border-radius: 50%;
        margin-top: 5px;
    }
    input[type="radio"]:checked + label span {
        background-color: $brand-color;
        border: 3px solid $brand-color;
    }
}

.drsl-sub-header {
    background: rgb(53, 48, 45);
    background: linear-gradient(to bottom, rgba(53, 48, 45, 1) 0%, rgba(77, 67, 75, 1) 50%, rgba(53, 48, 45, 1) 100%);
}

.drsl-concierge-wrapper {
    display: flex;
    flex-flow: row;

    .drsl-sub-header {
        display: flex;
        flex-flow: row;
        align-items: center;
        height: 70px;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        color: #F5F1EE;
        font-size: 20px;
        font-weight: bold;
    }

    .drsl-chat-wrapper {
        flex: auto;
        background-color: #FFFFFF;
        margin-right: 50px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

        .drsl-sub-header div {
            flex: 1;

            &:last-child {
                text-align: right;
                color: #838584;
            }
        }
    }

    .drsl-chat-body {
        padding: 20px;
    }

    .drsl-case-details-wrapper {
        flex: auto;
        max-width: 470px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

        .drsl-field-seciton {
            display: flex;
            flex-flow: row;
            align-items: center;
            text-align: center;
            margin-bottom: 30px;

            .drsl-field-label {
                flex: 1;
                margin-right: 10px;
                text-align: left;
            }

            .drsl-field-input {
                position: relative;
                flex: 3;
            }
        }

        .drsl-file-upload {
            .drsl-field-label {
                flex: 2;
            }

            .drsl-field-input {
                flex: 3;
                background-color: #E5E5E5;
                padding: 5px;
                color: #c0c0c0;
            }
        }

        .drsl-button-wrapper {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-top: 40px;

            div {
                flex: inherit
            }
        }

        .drsl-product-details-wrapper {
            margin-bottom: 40px;

            > h4 {
                margin-top: 0
            }

            .drsl-product-detail-selections {
                margin-left: 20px;
                margin-bottom: 4px;
            }

            .drsl-product-detail-input {
                margin-bottom: 4px;

                input[type="text"].form-control {
                    display: inline-block;
                    width: 150px;
                    margin-right: 5px;
                }
            }
        }

    }

}

